[2015-08-20 04:50] quanticle opened #1 "Typescript mode doesn't highlight "protected" as a keyword"
Typescript 1.3 adds "protected" as a keyword.

[2015-08-20 06:02] #1 closed

[2015-08-20 06:02] ananthakumaran commented on #1
Thanks

[2015-09-29 20:09] evmar opened #4 "Support JSX/TSX"
TypeScript added support for JSX:
  https://github.com/Microsoft/TypeScript/issues/3203

Briefly, this adds support for HTML-like literals in code:

[code]

typescript-mode currently doesn't indent such literals properly, in contexts like this:

[code]

Currently I use web-mode (which understands JSX) for typescript files, but that doesn't work with tide (which wants to work with typescript-mode,

[2015-09-29 21:15] martine commented on #4
See the linked web-mode bug for an alternative solution approach.

[2015-09-30 04:35] ananthakumaran commented on #4
PR welcome

[2015-10-24 07:54] rogergl opened #5 "indent-region formats code inside template strings"
Maybe prog-indent-sexp should ignore the content of template strings ?

[2015-11-06 16:45] log0ymxm opened #6 "Comment syntax highlighting issue"
The following comment breaks syntax highlighting for all lines following

[code]

Example:

![screen shot 2015-11-06 at 9 46 04 am](https://cloud.githubusercontent.com/assets/35297/11002642/4c948b76-846b-11e5-80ef-192d8f19aac8.png)

[2016-02-06 02:36] erykwarren opened #8 "Wrong indentation after multi-line function declaration with returned type"
If a function declaration is broken on multiple lines AND has a returned type AND the opening brace is not on a line by itself, then there is a very wide indentation on the following lines.

[code]

Expected:

[code]

[2016-02-27 21:32] talyian opened #9 "Wrong indentation on generator methods"
Example: the oops method gets double-indented.

[code]

[2016-06-21 09:22] vbraun opened #11 "Wrong indentation after arrow function with separate-line opening brace"
Arrow functions should probably be indented like normal functions, though right now there is a difference:
[code]
For me, expected output would be
[code]

[2016-07-18 14:41] wingyplus opened #12 "Support highlight set and get keyword"
In example below, `set` and `get` keyword should be highlight.

[code]

[2016-07-19 03:17] #12 closed

[2016-08-09 03:19] Parent5446 opened #17 "syntax-begin-function obsolete in Emacs 25.1"
As of Emacs 25.1 the `syntax-begin-function` variable is obsolete. I am not sure what the replacement is.

Here is the compiler warning received:

[code]

[2016-08-29 14:43] TatriX opened #18 "Support arrow functions"
There is no support for syntax highlighting of the arrow function formal parameters, `beginning-of-defun` etc.

[2016-09-04 16:40] AdamNiederer opened #20 "Indenting comments in template strings hangs"
Indenting the last line of this example with tab causes an infinite loop.

[code]

[2016-09-06 15:11] Trevoke opened #21 "Please add tags to create a release for MELPA Stable"
MELPA Stable finds tags in repos (such as 0.5.74) and uses those to create stable releases. For those of us who prefer to depend on stable code, this is a godsend. Please create a git tag for code you consider stable, thanks :)

[2016-10-03 05:50] josteink commented on #21
I've pushed a [v0.1 tag](https://github.com/ananthakumaran/typescript.el/tree/v0.1) for now, so that at least *something* shows up on MELPA Stable.

How often subsequent releases will be pushed, and how much changes to expect, I have no idea about, and can't make any promises.

[2016-10-03 05:50] #21 closed

[2016-10-31 19:17] dominikh opened #23 "Indentation of `case` differs between typescript and tsserver's format"
typescript.el does not indent case statements in a switch, while tsserver, and by extension Tide, do indent it. And even though I prefer the not indented version, it's really awkward when the major mode and the official formatter disagree.

[2016-10-31 19:49] josteink commented on #23
From what I can tell, these lines here seem to be relevant to this behaviour:

https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L1740-L1741

Basically they cancel out the case-statement's "natural" indentation. I tried, but just stripping these lines out/disabling them alone doesn't seem to be much use.

It seems we'll also need a way to inform the parser that it's cu

[2016-11-01 03:28] ananthakumaran commented on #23
I would like to fix it also. The best place is to look at `js--proper-indentation` and see what they do.    typescript-mode is a fork of js-mode.

[2016-11-01 08:58] josteink commented on #23
Agreed it should be fixed.

And your idea is a good one. Unfortunately I only have time for cursory checks here and there these days.

I can assist, but I doubt will be the one who writes the patch.

[2017-02-22 16:20] rwhogg opened #26 "Please add a copy of GPLv3 to the repo"
The ELisp file says we should have received a copy of it.

Thanks! :smile_cat:

[2017-02-22 17:31] josteink commented on #26
Boring licensing is boring licensing but I guess you're absolutely technically correct.

 I'll look into it this evening.

[2017-02-22 17:32] rwhogg commented on #26
Yeah, I know. Sorry, I hope dealing with this isn't terribly annoying.

[2017-02-22 20:08] #26 closed

[2017-02-22 20:08] josteink commented on #26
No worries. Right should be right. Thanks for helping us stay fully compliant :)

[2017-03-10 13:07] #9 closed

[2017-03-29 10:56] it6 opened #32 "How to enable colors in typescript"
Hi, in js2-mode I see defface variables
[code]
and in my themes file I added
```(js2-function-call (:foreground ,green))```
to make the function call green.

Is there any similar way to add my theme specific colors for typescript. Thanks.

[2017-03-31 09:33] josteink commented on #32
Currently we just re-use the default Emacs faces for pretty much everything. You can see it here:

https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L306-L317

I'm sure you'll find similar definitions if you scroll through the code.

So in order to get the functionality you want, `typescript.el` will need some patches which:

1. creates mode-specific `defface`-statemen

[2017-04-01 03:45] xzedx opened #33 "'typescript-insert-and-indent' is weird when the line contains Chinese"
![typsecript-issue](https://cloud.githubusercontent.com/assets/6986864/24575153/94e085bc-16d0-11e7-9f07-a909541c98d5.gif)

[2017-04-01 07:24] josteink commented on #33
Thanks for the bug report. Double-width characters are known to cause problems in naive code...

I'll see if I can't investigate this later on.

[2017-04-03 07:54] josteink commented on #33
I've tested with the following simple code:

[code]

Upon pressing `;` at the end there, I do get weird behaviour.

For a scenario similar to yours I get more behaviour like this:

[code]

Upon typing the opening paren in `function()`, the cursor gets moved thee characters ahead of where it should be.

**Basically: After three wide characters the cursor is now three points ahead of where it should

[2017-04-03 07:59] josteink commented on #33
I've found the culprit. [It's our code](https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L1798-L1807).

[code]

We're doing some weird calculations here, and that results in a "offset" between the original and the indented version, and a attempt to fix this mismatch.

Clearly we're calculating some things wrong here.

[2017-04-06 01:06] 1-9 commented on #32
I can help with this effort but not sure where to start can you guide me @josteink.

[2017-04-06 07:13] josteink commented on #32
Basically you need to do a few things:

* Identify all the faces currently used by typescript-mode (i.e. `font-lock-function-name-face`). See my previous comment for an example of such usage.
* Create corresponding mode-specific face using `defface` (i.e. `typescript-function-name-face`), with appropriate defaults matching the original Emacs-faces. I tried to locate some examples for this, and it

[2017-04-12 12:31] 1-9 commented on #32
Instead of reinventing the wheel, is there any way we can port the official syntax highlights from Typescript to emacs.

https://github.com/Microsoft/TypeScript-TmLanguage

[2017-04-12 12:33] josteink commented on #32
That would be awesome.  But given that we mostly have something which works right now though, I'm not going to put in the effort myself though.

If anyone gets it done though, I would be all for it.

[2017-04-21 12:57] hexa00 opened #34 "String replace regex makes all the following lines as a string"
Something like:

test.replace(/\\/g,"/");
nextlines are as if part of a string

Using : typescript-mode-20170324.1301

[2017-04-21 13:27] lddubeau commented on #34
The mode is working correctly. It is your regex that is wrong and throwing you off.

You expect the first `/` to terminate your regular expression, but you have `\` before it, which escapes its normal meaning. You think your regular expression is:

[code]

but it is:

[code]

and then it is followed by the start of a string which you never terminate.

The regex you want appears to be this: `/\\/g`

[2017-04-21 13:31] hexa00 commented on #34
oops seems like the github comment missed a \ here... I should have enclosed it

The real code is like you said:
`test.replace(/\\/g,"/");`
With the same result...

[2017-04-21 13:40] lddubeau commented on #34
Ah, yes, I can reproduce it here now.

[2017-04-21 13:42] hexa00 commented on #34
:) Note I tested in the JavaScript major mode and it works there...

[2017-05-26 07:50] Kethku commented on #33
I just started running into this when I switched to using fira code with the symbols font for pseudo ligatures. Any idea if this will get fixed?

[2017-05-26 08:38] josteink commented on #33
I must admit I don't really understand the code inside `typescript--proper-indentation`, so getting this fixed will take a bit more effort than a "normal" bug-fix.

Right now I don't have much spare time for such concentrated efforts, and given how it doesn't affect me directly, I also lack the motivation for diving into it, in the few cases where I do have spare-time.

If anyone else feels like t

[2017-05-26 08:49] josteink commented on #33
**Update:** I hate to leave code to rot, so I decided to a minimal effort debugging.

I used the following test-buffer:

[code]

Pressing `;` after the line with `"abc"` resulted in `typescript--proper-indentation` returning `4` (which is correct).

Pressing `;` after the line with `"大塚愛"` also resulted in `typescript--proper-indentation` returning `4` (which again is the correct value).

So clear

[2017-05-26 09:07] josteink commented on #33
Nailed it: The problem is `current-column` counts wide-chars as several characters, causing a API impedance-mismatch with `forward-char` (which doesn't).

This is easy to demonstrate. Take the following line in any mode:

[code]

Put the cursor after the `d`, and eval `(prin1 (current-column))`. It should print `4`.

Now put the cursor after the `大`, and eval `(prin1 (current-column))`. Our algori

[2017-05-26 09:27] #33 closed

[2017-05-26 09:29] josteink commented on #33
I've added a new function `typescript-current-column` which is unicode-aware and employed that instead in `typescript-indent-line`.

As far as I can see, this fixes this issue.

I also observe that we use `current-column` lots of other places in our code, but until someone can demonstrate that this is causing issues elsewhere, in the name of cautiousness I've left those as is.

If we have issues t

[2017-05-30 08:33] josteink commented on #34
I did some basic testing and landed on this:

[code]

Basically if we have a `\` of any sort preceede the finalizing `/`, our code breaks. Not having looked at the code in question, it seems like some naive escape-handling code fails to realize detect the double `\\` as one escaped character, and thinks we're trying to escape the `/`.

[2017-05-30 09:08] notnarb opened #37 "typescript-insert-and-indent is misbehaving in 20170526.239"
Under certain indentation scenarios such as within a class method, inserting a key bound to `(typescript-insert-and-indent KEY)` seems to move the cursor back 7 characters.

This problem does not appear in 0.2 available in melpa-stable

---
My steps to reproduce:
Prerequisites: emacs 25.1.1 from Fedora 25 repos `(GNU Emacs 25.1.1 (x86_64-redhat-linux-gnu) of 2016-12-15)`
1. Create empty .emacs.d/i

[2017-05-30 11:36] josteink commented on #37
Thanks for the very detailed bug-report! I can reproduce this one.

From what I can tell `indent-according-to-mode` calls back into `typescript-indent-line` (which was fixed for another error 26.05.2017) and this seems to introduce the error.

In your example our new "unicode-aware" `typescript--current-column` function returns `23` where regular `current-column` returns `30` (which is also report

[2017-05-30 11:59] josteink commented on #37
**Update:** basically it seems like the `column` and `char` concept in Emacs is not really compatible, and should not ever be mixed when doing accounting:

* a single Chinese/Wide unicode character counts as several "columns", but as 1 character.
* a tab counts as 1 character, but also as several columns.

As long as `typescript-indent-line` mixes these, we will get errors, and I think the best ap

[2017-05-30 12:30] #37 closed

[2017-05-30 12:31] josteink commented on #37
Added another test-case. With this patch in, indentation works for both tabs and wide chars.

Let me know if it works for you as well.

[2017-05-30 18:43] notnarb commented on #37
Thank you for the extremely fast turnaround!
As of 20170530.953, this issue appears to be fixed for me.

And thank you for the in-depth explanation!  One day I hope to better be able to contribute to elisp projects so I find this stuff very interesting

[2017-05-30 18:58] josteink commented on #37
Thanks for reporting back! Glad to hear your issues are solved.

As for detailed explanation... Consider it thinking out loudly. Sometimes I can't figure out how to fix things, but I have made concrete findings. By reporting these it may help other Emacs'ers spot the error instead. ;)

[2017-06-06 21:00] nspaeth opened #39 "Use prettier for formatting?"
Now that prettier/prettier#13 supports typescript, would it make sense to offload formatting to that? It seems to be gaining traction as a defacto standard.

[2017-06-07 06:52] josteink commented on #39
If you want pretty formatting, the recommended approach is to use [tide](https://github.com/ananthakumaran/tide).

By default, tide uses `tsserver` to format the code on save, giving you the standard formatting which TypeScript-code should adhere to by convention.

Is there anything else prettier could give us, that this doesn't already provide?

[2017-06-07 07:36] josteink commented on #39
To add to my former comment, I've never heard of prettier before now, and I honestly would like to keep the list of dependencies for Emacs typescript-development as short as possible.

Right now a "full stack" requires the following:

- Emacs
- typescript.el
- tide (which bundles tsserver)
- nodejs (to run tsserver)

Despite this list of dependencies, and to my great surprise, this seems to work p

[2017-06-08 17:31] raxod502 opened #40 "Doesn't indent multiple variable declarations"
`typescript.el` indents like this:

[code]

I posit that it should indent like this:

[code]

[2017-06-08 20:07] raxod502 opened #41 "Support for jsdoc-like comments"
As far as I know, TypeScript tends to be documented like this:

[code]

In `js2-mode`, I can type:

[code]

and press `C-M-j`, to get:

[code]

with point at the end of the second line. This would be a nice feature to have in `typescript.el`, as well.

[2017-06-09 08:32] josteink commented on #41
From the docs:

Running this command anywhere in typescript-mode gives mixed results:

[code]

If we're going to override this command with a custom command for typescript-mode, we should properly address all these comment-styles.

[2017-06-09 08:36] josteink commented on #40
As far as Typescript goes, there's just *one* canonical answer to how things should be: However `tsserver` formats it.

And lucky for you, tsserver agrees :)

The good news/workaround: If you use typescript-mode with [tide](https://github.com/ananthakumaran/tide), it will use tsserver to reformat the document on each save, giving you the correct formatting.

It would of course be nice if we could

[2017-06-09 12:27] bsed commented on #17
i have same warning

[2017-06-15 12:56] ananthakumaran commented on #41
I wonder whether we should rebind `M-j` to `c-indent-new-comment-line` by default. It seems to work better than `indent-new-comment-line` from my minimal testing.

[2017-06-15 13:26] josteink commented on #41
That's a good idea, and leaves us reinventing fewer wheels than we need to.

Have you experienced any cases where that does anything which is explicitly *wrong*?

[2017-06-15 15:57] raxod502 commented on #41
It might also be relevant to ask @dgutov if there is a reason that `js2-mode` doesn't do this, and instead implements its own `js2-line-break` function.

[2017-06-15 16:03] ananthakumaran commented on #41
It's not as good as js2-mode, but better than what we have. I never seen encountered any case so far where indent-new-comment-line is better

[2017-06-15 18:16] dgutov commented on #41
In js2-mode, it's wasn't a particular decision to write `js2-line-break` instead of using `c-indent-new-comment-line`.

Before I got to it, `js2-line-break` was a command `js2-enter-key` bound to `RET`. So using a custom `'comment-line-break-function` function provides some continuity.

So `c-indent-new-comment-line` might be a good choice of you, except it's tying you to CC Mode a bit, and will p

[2017-06-22 08:25] josteink commented on #17
I'd hate to use anything PHP as a reference for this, but it seems php-mode has encountered the same issue and had a ... fairly pragmatical approach to it: https://github.com/ejmr/php-mode/pull/340

I guess we *could* do the same, since we too have to support older version of Emacs.

That said, what I find most annoying about this is that I cannot anywhere find any documentation on what this is de

[2017-07-07 22:26] sudarshang opened #43 "Slash in Regexp causes syntax highlighting to highlight remaining tokens as string"
[code]

To replicate this paste the above in an Emacs buffer with Typescript enabled. All the tokens after the `/\\/` have the font face string.

[2017-07-07 22:29] lddubeau commented on #43
Duplicate of #34.

[2017-07-07 22:29] #43 closed

[2017-07-07 22:59] sudarshang commented on #34
Looking into how js-mode handles this

https://github.com/emacs-mirror/emacs/blob/master/lisp/progmodes/js.el#L1725
[code]

It seems to use a function to deal with regexes instead of using the regular expression that typescript mode uses

https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L1624
[code]
Is switching to how js mode handles regexes an option for typescript

[2017-07-08 03:00] sudarshang commented on #34
Looks like typescript mode was forked from a much older version of js-mode. Are there benefits to grabbing the current js-mode and trying to incorporate all the fixes that were made to it since then? I would be interested in taking this on if the current maintainers
1. Think this would be useful.
2. Would be willing to do a lot of handholding and question answering

[2017-07-08 06:03] josteink commented on #34
On one side I think that would be interesting. Having a more unified code base *could* be nice and might let us solve bugs like this more easily.

On the other hand, @ananthakumaran picked up this code from someone else (and admits he doesn't fully get it) and none of the original developers are around for the "hand holding" bit. I honestly think there's a limited amount of help we can provide.

T

[2017-07-08 14:07] sudarshang commented on #34
I checked out old versions of js-mode.el (git tag emacs-pretest-24.0.95) and typescript-mode.el. (git hash 09123ba). I then did a global replace of typescript with js to fix the spurious diffs introduced by renaming js to typescript. Figuring out what was added to js-mode to get the initial typescript mode leads to the following file

https://gist.github.com/sudarshang/f37d22d4c580080f5c103e2f6e4c

[2017-07-10 11:27] #8 closed

[2017-07-20 15:57] lddubeau opened #44 "font highlighter ends regexp prematurely"
Given the following regexp:

[code]

The regexp will be highlighted as a regexp from the first forward slash, until the 2nd forward slash. However, the regexp really ends at the last forward slash. (For the benefit of readers who may not know: a forward slash appearing in `[...]` is treated as *part of* the regexp instead of treated as *terminating* the regexp. The regex above matches the characte

[2017-07-21 17:28] nspaeth commented on #34
@sudarshang That seems like it might be a lot of work.
Would it be easier or better to start making a typescript  [lsp-mode](https://github.com/emacs-lsp/lsp-mode)?

[2017-07-21 18:05] josteink commented on #34
The parts covered by lsp-mode is already handled by the tide-package.

When lsp-mode works satisfactory well, tide may be obsolete, but grammar, font-locking, indentation and stuff like that will still need to be handled by Emacs.

I.e. the stuff covered by typescript-mode. This should be fixed here.

[2017-07-25 22:13] sudarshang commented on #34
PR [45](https://github.com/ananthakumaran/typescript.el/pull/45) does fix this issue.

[2017-08-01 09:11] josteink commented on #44
I've tested and this also seems fixed in PR #45.

[2017-08-01 09:12] josteink commented on #17
Note: This is incidentally fixed in PR #45.

[2017-08-17 16:55] lddubeau commented on #20
I ran into an issue tangential to this one. The problem seems to be that the code of `typescript--re-search-backward-inner` does not take into account the possibility that a string could span multiple lines. I've tried this, and got the same behavior:

[code]

The function tries to skip over strings and when the string is multi-line, instead of skipping, it keeps searching for the string delimiter

[2017-08-17 17:14] lddubeau opened #47 "How should we handle indentation inside strings?"
The mode currently operates so that

[code]

Will be indented to:

[code]

However, `tide-format` leaves it as in the first snippet.

It is possible to do this as a workaround:

[code]

The escaped space is treated as a space, and `typescript-mode` won't try to remove the spaces, but yuck!

I'm thinking of modifying the indentation code so that `typescript-mode` leaves the leading space in lines o

[2017-08-17 17:27] josteink commented on #47
Making more things configurable just gives us a bigger state-space which we will need to manage and handle. And there in lies bugs.

I say make it format things like tsserver does and  don't bother adding a bunch of new configuration options.

[2017-08-17 17:29] josteink commented on #20
Good analysis. Armed with that knowledge it hopefully shouldn't be too hard to fix.

I'll see if I have time to look into this some time the next few days, but I can't make any promises.

[2017-08-17 20:07] josteink commented on #20
I see what you mean. The problem are with these three lines here:

https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L708-L710

They keep on looping forever, because the `re-search-backward` is bound to the current line only. This is a pretty generic function, involving way more low-level parse-things than I'm familiar or comfortable with, so I'm not entirely sure what

[2017-08-17 20:17] lddubeau commented on #20
`typescript--re-search-backward-inner` already uses `syntax-ppss` which at `(nth 8 ...)` has the address of the start of the string. Actually, I see just now that's what the function [uses](https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L711) for skipping over comments. The 8th field is the start of the string *or* comment. I don't see why the code does not also use

[2017-08-19 12:01] josteink commented on #20
I'm not sure what other consequences it can have besides performance, but I changed this expression:

[code]

to this:

[code]

Basically just removed the re-search-backward current-line `BOUND` constraint and now it seems to work fine. The test-suite runs fine too.

If nobody else can find anything wrong with that... I guess we might have a solution?

[2017-08-21 11:14] lddubeau commented on #20
@josteink The question I raised in my previous comment remains. Why not use the information provided by `(syntax-ppss)`? It should already contain position of the start of the string. Why recalculate it with a search? Is there some limitation of `(syntax-ppss)` I'm not aware of?

---

Tangential issue I just noticed. The backtick templates allowed in ES6 and TS allow for strings to nest inside str

[2017-08-21 17:03] josteink commented on #20
Not knowing this code intimitely, and considering it is 100% undocumented at this point, I'm going to assume this may be a the result of lacking knowledge from the original developer, who may have just copy-pasted some of these bits together.

(Like I most likely would have been happy to here)

I just tried with the following instead, like you suggested:

[code]

As far as I can see that works jus

[2017-08-21 18:21] lddubeau commented on #20
I think `typescript--re-search-backward-inner` could be reduced to:

[code]

The test suite passes with the above. The changes are:

1. Treat strings the same as comments. We just need to test whether `(nth 8 parse)` is set and act on that.

2. The `(nth 4 parse)` condition that used to be there has been subsumed under the general case for comments. I'm not seeing why nested comments should need s

[2017-08-22 11:41] lddubeau opened #48 "Add support for expressions and nested strings in templates"
[Opening an issue for a problem discovered while discussing #20 .]

Template strings allow expressions in string and strings to nest. For instance:

[code]

equals `"a3b"`. And since expressions can be strings, then this is valid:

[code]

and equals `"abc"`

Problematic areas:

1. The highlighter fails to handle anything in `${}` as an expression. (Trying the same in plain JS code: `js-mode` is j

[2017-08-22 11:46] josteink commented on #48
I'm going to just assume that however we decide to handle this, it ultimately comes down to syntax-tables and other relative low-level cruft.

To *my* knowledge syntax-tables have no understanding of interrupting string-sections with intermediate code-blocks by a string-delimiter-escape-character, before the subsequent string-section continues until the original string-delimiter is met.

We can *t

[2017-08-22 12:04] lddubeau commented on #48
I agree. It may turn out that `typescript-mode` will remain its own independent thing rather than aggressively derive from `js-mode` but even if that's the case, we can benefit from any fix made to `js-mode`.

I'll note again that `js2-mode` appears to have fixes for the highlighting and `syntax-ppss` so we can look at that if `js-mode` remains broken.

[2017-08-22 20:29] lddubeau opened #49 "Add support for highlighting typedoc/jsdoc comments"
Having proper highlighting of typedoc/jsdoc comments, besides providing visual help, would allow skipping things that don't need spell-checking when using `flyspell-prog-mode`.

For instance, in the following:

[code]

The only thing that needs spell checking is "something". The rest is either a typedoc/jsdoc tag (`@param`), a type reference (`SomeType`) or a parameter name (`blah`). Flyspell dete

[2017-08-23 11:47] lddubeau commented on #20
I would definitely add a case to the indentation tests. Ultimately, both kinds of tests (integration and unit) are desirable, in my book.

I would go ahead with the change and adjust if it causes problems that we missed. I've been running with the code I've shown in my earlier comment for a while without any issue.

[2017-08-23 17:00] #20 closed

[2017-08-23 17:01] josteink commented on #20
I've added the fix we agreed upon, alongside some reasonable basic tests for now.

@lddubeau: If you can think of more "tricky" test-cases you think we should include, feel free to add them on their own.

@AdamNiederer Sorry about taking so long getting this fixed :)

[2017-08-24 06:56] josteink commented on #48
I've written a fairly detailed email about the issue to `emacs-devel` and put you on CC.

Feel free to chime in on the issue and thread if you feel like I missed something important.

[2017-08-24 07:02] josteink commented on #49
I support the idea, but I don't have time to implement this right now.

In my email to emacs-devel for issue https://github.com/ananthakumaran/typescript.el/issues/48, I've also mentioned the ability to escape not only strings but also comments...

So maybe we'll in time see some more fundamental building blocks to handle syntax like this.

In the meantime, I guess the simplest way to land this fo

[2017-08-24 18:52] lddubeau commented on #49
Flyspell cares only about the faces used, not the syntax properties.

I've pushed an experiment to https://github.com/ananthakumaran/typescript.el/tree/experiment/typedoc-tags

It works but is still incomplete. The regular expressions were taken from `js2-mode` and the variable/face names were derived from those there.

Things that are missing to reduce the number of false misspelling errors repor

[2017-08-25 19:09] lddubeau opened #50 "Do we need the fontification hack?"
The mode initialization code contains this [hack](https://github.com/ananthakumaran/typescript.el/blob/813cf4fef30d95d055268c06afaf61b4b4f49878/typescript-mode.el#L2264-L2268):

[code]

The code above prevents users from having a `typescript-mode-hook` that immediately turns on `flyspell-prog-mode` and performs `flyspell-buffer` so that all spelling errors are immediately marked when `typescript-m

[2017-08-27 17:37] josteink commented on #49
List to the relevant emacs-devel thread for those interested:

https://lists.gnu.org/archive/html/emacs-devel/2017-08/msg00560.html

[2017-08-28 05:43] josteink commented on #50
Looking at `git blame` we can see this section is from the very first initial commit (or copy-paste if you like) of `typescript.el`.

That dates it at least years back, without any of the "active" maintainers actually being in any way involved with it.

Looking for the originating source for this mode (`javascript.el`), I had to go digging in [the Wayback machine](http://web.archive.org/web/201303

[2017-08-28 05:53] ananthakumaran commented on #50
I don't remember the details :). I think I got it from a zip file somewhere.

Nope, definitely not.

[2017-08-28 11:20] ananthakumaran commented on #50
@josteink Looks like this is copied from [tide](https://github.com/ananthakumaran/tide/commit/d557fa54a3237b11ba2459b028ddc636defba8fe) which is copied from [emacs-tss](https://github.com/aki2o/emacs-tss/commit/9592f5c53f2e5689f8639285f9474cf54746b419) which still contains the same hack.

[2017-08-30 12:15] #50 closed

[2017-08-30 12:17] lddubeau commented on #49
Fixed by https://github.com/ananthakumaran/typescript.el/commit/782e8dd32e7b30fbecd52ff49eaa65b78af0800f and https://github.com/ananthakumaran/typescript.el/commit/7172a23d86d7b40c1b850429d805f3a39bdf3baa

[2017-08-30 12:17] #49 closed

[2017-08-30 12:50] bklaase opened #52 "Highlighting of typecontraints, known variables, methods/properties"
Maybe I am doing something wrong, but it seems that there are quite a few elements still unthemed:
![image](https://user-images.githubusercontent.com/8513117/29872751-321ad684-8d91-11e7-8848-8adc90646951.png)
keywords, declarations of both functions and variables, definitions of types/interfaces all works pretty well. But the actual usage of previously declared objects / function calls,seems to re

[2017-08-30 13:07] lddubeau commented on #52
I don't think `typescript-mode` can solve this *in general*. If you do `import { x } from "foo"`, is `x` a type or a variable? `typescript-mode` cannot know because it does not have the machinery necessary to load `"foo"` and check.

On the other hand, it should be *possible* to have [`tide`](https://github.com/ananthakumaran/tide) (which can figure out what `x` is in my example above) augment the

[2017-08-30 19:53] bklaase commented on #52
hmm yes, I can see that makes sense for tokens that need to be inferred. How about though:
- the type assertions in function declaration?
- something ending with parentheses is a function?

[2017-08-31 08:50] josteink commented on #52
I'm sure there are room for improvements. Feel free to issue patches for it.

[2017-08-31 09:18] bklaase commented on #52
Yes, that's definitely fair. I would love to be able to give something back, since working with this in concert with `tide` is a joy.
Can you point me maybe a little in the direction of where to look?

[2017-08-31 09:21] #52 closed

[2017-10-07 10:55] jack-williams opened #53 "Highlighting for exported functions."
This isn't a bug so much as a request / query. I'm just wondering about syntax highlighting for functions that are exported.

Given the following example:

[code]

`foo` will be coloured but `bar` wont. Was the a conscious choice? Personally I'd like both function names to be coloured (probably using the same colour). I have a hacky solution that changes `typescript--function-heading-1-re` to incl

[2017-10-07 11:39] josteink commented on #53
Thanks for the bug-report.

I'm going to assume this was an omission. I'll label it a bug, and see if we can't get it fixed.

[2017-10-07 11:40] josteink commented on #53
Thanks for the bug-report.

I'm going to assume this was an omission. I'll label it a bug, and see if we can't get it fixed.

If you could show us your changes, maybe we could review them together and see if we find them sufficient. If so, you could always submit them as a PR.

[2017-10-07 13:03] jack-williams commented on #53
I've added a new matcher for declare or export modifiers:

[code]
and then added that to `typescript--function-heading-1-re` as follows:

[code]

[2017-10-10 19:01] josteink commented on #53
Sorry about the delay. I've had quite a few other issues I've been trying to close before starting yet another one. :)

Comparing to what is already done in `js-mode`, you have the same exact problem there, so there is no code we can "borrow" for a more proven approach.

`js2-mode` seems structured in a completely different way, and while it has this already solved, I see no obvious way to re-use

[2017-10-11 19:40] jack-williams commented on #53
Great, I'll put a PR in over the next few days. Thanks!

[2017-10-12 06:36] josteink commented on #34
With PR #45 closed (and not merged), we'll have to come up with a solution based on our existing code.

[2017-10-16 08:03] josteink commented on #44
With PR 45 closed and not merged, I guess we will need to seek an alternate solution to this issue.

[2017-10-17 06:30] josteink commented on #53
Fixed in #54. Closing.

[2017-10-17 06:30] #53 closed

[2017-10-17 19:26] lddubeau commented on #23
Hmm.... I'm not a fan of the way `tsserver` does it. I prefer this:

[code]

to what I understand `tsserver` does:

[code]

This does not seem to be configurable in `tsserver`. From what I see it is possible to switch between indentation styles `None`, `Block` and `Smart`. If I'm reading the test files correctly, none of them would produce the result that `typescript-mode` produces (and that I pre

[2017-10-17 22:24] bkruczyk commented on #34
Does anyone see a reason why string literal for regexp can't be simplified to `"[=(,:]\\(?:\\s-\\|\n\\)*\\(/\\)[^/]*\\(/\\)"`. Check PR #55.

[2017-10-18 18:25] josteink commented on #34
Just for clarity for other looking into this thread: Since @bkruczyk has already a PR submitted, I've decided to take technical comments regarding his suggestion in the PR, and not this issue.

[2017-10-20 18:13] josteink commented on #23
I'm not sure if the same applies to the Typescript-community at wide yet, but in the Go-community there's been a consensus on that whatever `gofmt` makes the code look like is *the* Go coding-style.

No exceptions. None-compliant code does not lint and is not merged. It's not very flexible (or Emacsy to put it into context), but on the flip-side it makes things very simple.

I've pretty much seen

[2017-10-22 17:39] josteink commented on #34
Fixed in #55.

[2017-10-22 17:39] #34 closed

[2017-11-03 16:46] dgillis commented on #40
Have at look at that pull request. It does not handle the case of multiline destructuring assignments. E.g., I think they ought to be indented like this:

[code]
But typescript mode is still aligning the continuations with the opening brace:
[code]
I have been using advice that fixes both cases. However there are a lot more edge cases to destructuring that I'm probably ignoring so I excluded.

I n

[2017-11-07 20:05] josteink opened #57 "commented lines are sometimes treated as non-comments"
This causes errors with both font-lock and indentation.

This can be demonstated in the [indentation reference document](https://github.com/ananthakumaran/typescript.el/blob/30391a518a1d41d5c534a30850a50b0974132aec/test-files/indentation-reference-document.ts#L34-L35) where the following lines will be syntax-highlighted (and have syntax-properties) as if they were not commented:

[code]

I can rep

[2017-11-07 20:57] oneeman commented on #57
I'm running into this too.  It always seems to involve a comment line after a comment line with a `:` in it.  The `:` doesn't have to be at the end of the line.

An odd thing I'm seeing is that often a comment line which is highlighted incorrectly will switch to being highlighted correctly if I make and and undo a change (e.g. add an extra space in the middle and then delete it).  For example, wit

[2017-11-08 11:39] josteink commented on #57
Given that these issues do somehow *not* fail our indentation tests, while trying to replay those tests interactively visibly causes errors, backs up your observation that this clearly is affected by code meant to handle interactive changes.

I guess a first step would be to do a git bisect to see if we can find a point in time where this bug was not present. I'm fairly certain this behaviour has

[2017-11-08 14:50] oneeman commented on #57
Agreed, something definitely broke that was working before.  I tried commit `30391a5` and it's fine for me, so the break seems to have been in `4b69ca5`.

Another example of broken highlighting which I'm seeing:

[code]

The comment is not recognized as a comment, with the result that the `'` is interpreted as the beginning of a string, and everything after that is highlighted as if it were a stri

[2017-11-08 20:32] lddubeau commented on #57
Please try out the changes in #58.

I ran into the problem while editing a file and it was enough of a headache that I decided to work on it. This has been put together very quickly so maybe there's some case I've missed.

[2017-11-09 00:56] oneeman commented on #57
Thanks.  I can't comment on whether it covers all the cases, but the change you made works fine for the cases I've noticed which were broken.

[2017-11-09 15:27] #57 closed

[2017-11-09 15:40] josteink commented on #57
Awesome. Good work everyone!

[2017-11-09 15:57] oneeman opened #59 "function return type breaks `beginning-of-defun` and `end-of-defun`"
Hi.

I've noticed problems using functionality that depends on `beginning-of-defun`.  So I had a closer look and it looks like function return types are throwing it off.

With this code:

[code]

doing `beginning-of-defun` from inside the function takes me to the function declaration.

On the other hand, with this code:

[code]

it takes me to the top of the file (the `const` declaration).

The sa

[2017-11-09 16:32] lddubeau commented on #59
Yeah, I noticed that they are broken a while back. I thought I might need to fix them in order to fix an indentation issue but it turned out that I did not need them. I've not spent time fixing them because their brokenness does not have an actual impact on my work.

Using `git blame` it looks like nobody spent any time on them. They are probably exactly like their counterpart in `js-mode` and so

[2017-11-09 16:47] oneeman commented on #59
Makes sense.  Thanks for the details.

[2017-12-05 03:04] nnabinh commented on #44
Up, pls fix this

[2017-12-05 06:42] josteink commented on #44
PRs are welcome :)

[2017-12-28 14:37] #44 closed

[2018-01-21 22:22] janesser opened #65 "Emacs frozen on TypeDoc"
Hi,

i tried with http://typedoc.org/guides/doccomments/

whenever i type "/**" and then hit enter, emacs freezes and becomes unusable.
I've got to kill/restart it.

i can actually make that comment, but i must not push enter on that code-line.

Any hints?

[2018-01-22 08:42] josteink commented on #65
I'm not able to to reproduce this issue at all.

Does it still fail on your end if you start on a clean config (`emacs -Q`) and install nothing but `tide`?

[2018-01-24 13:17] jack-williams commented on #23
Not sure on the status on this, but I have a rough patch that I use to get the something similar to the `tsserver` behaviour. I have basically just copied the relevant part from `js-mode`. I don't think my current solution is particularly well tested, but if there is desire then I'm happy to try and turn this into a PR.

By default my solution should retain the existing behaviour of `typescript-mo

[2018-01-24 15:36] janesser commented on #65
I'll try.

[2018-02-15 15:35] jack-williams commented on #23
ping @josteink @lddubeau

[2018-02-16 09:35] josteink commented on #23
Right. Sorry about the absence. And thanks, @jack-williams, for providing an actual patch.

So let me try to quickly recap the situation as I see it:

Before this patch the status was that:

* there does not seem to be a universal agreement among the developers/users how `typescript-mode` *should* indent code.
* if we agree on how things *should* be, we may still lack the man-hours to implement it

[2018-02-16 14:30] jack-williams commented on #23
No problem; sorry for the ping but I wasn't sure if notifications were switched off for this thread.

I'll put in PR shortly!

Indentation can be pretty hairy so I'm happy waiting a while before merging, letting people it out. I might need some help with the tests but I'll give it a go first.

[2018-02-16 21:27] janesser commented on #65
Tried to reproduce with tide only. Everything works fine.

Everything is now also fine with my normal installation, see here:
https://github.com/janesser/xmonad.hs/blob/master/.emacs

Appearently the problem has been solved in the meanwhile. If fix is known, please link here.

[2018-02-16 21:27] #65 closed

[2018-02-17 08:52] josteink commented on #65
Glad you worked it out!

[2018-02-22 13:34] #23 closed

[2018-03-01 00:54] felipeochoa opened #67 "font-lock yield keyword"
`yield` and `yield*` are not highlighted as keywords. It's an easy workaround (below), but should probably be in this package

[code]

[2018-03-16 06:19] #67 closed

[2018-03-26 11:54] lddubeau opened #71 "Travis builds are currently erroring due to an issue in Cask"
The problem seems to be in Cask (https://github.com/cask/cask/issues/420) or in code that Cask depends on (https://github.com/melpa/package-build/issues/17).

The upshot for us is that as long as the issue is not resolved, our Travis builds are going to end with an error.

[Here's an example](https://travis-ci.org/lddubeau/typescript.el/jobs/358360135) of what it looks like.

[2018-03-26 12:55] josteink commented on #71
That sucks, but I guess there's not much we can do about it. Apart from waiting it out, right?

Good thing bringing it to our attention though, otherwise this could quite easily become a point of confusion :)

[2018-03-26 13:08] lddubeau commented on #71
Yeah, I wanted folks to be aware of the issue. Luckily, the Cask issue report I linked to was already filed. Otherwise, I would have been at a loss to figure out what's going on.

When I run into problems like this one, and I already have a good amount of knowledge about the piece of software that is failing, I try to fix it myself, but the extent of my knowledge of Cask is minuscule, and I cannot

[2018-03-27 11:41] lddubeau commented on #71
It seems fixed now.

[2018-03-27 11:41] #71 closed

[2018-03-30 01:02] yqrashawn commented on #4
Is it possible to use `rjsx-delete-creates-full-tag` in `typescript-mode`? Is it easy to implement? `rjsx-mode` has a function to get the `rjsx-class` at cursor point which needs to parse whole file in advance.

https://github.com/felipeochoa/rjsx-mode/issues/65#event-1547891921

[2018-04-01 07:05] anildigital commented on #71
@lddubeau still this issue is not resolved https://github.com/cask/cask/issues/420

[2018-04-01 13:06] lddubeau commented on #71
@anildigital I closed this issue because I was no longer getting errors on Travis when running the tests for this project. There could be any number of reasons the Cask issue is still open: they forgot to close it, a change occurred that did not *completely* take care of the problem, though it was enough to fix the issue *for this project*, etc. Ultimately though, if our tests suite works, then th

[2018-05-30 22:56] stieg opened #74 "Inconsistent Indentation Between Multi-line Arrow Function parameters and function parameters"
Below are examples of 3 types of functions with single line parameters (S suffix) or double line parameters (D suffix).  One would expect the behavior of single and multi-line parameters to behave the same between arrow functions and traditional named (or anonymous) functions but that does not appear to be the case.  Is something possibly wrong with my settings?

Typescript-mode: v0.2

[code]

[2018-05-30 22:57] stieg commented on #11
@vbraun Do you still see this in typescript-mode v0.2?  I reported a [similar issue](#74) but was not able to reproduce your original behavior.

[2018-05-30 23:01] stieg commented on #74
Also of note... similar inconsistent behavior is noticed with a return type is added.  Here is the above example with a return type set that further creates inconsistencies:

[code]

Notice how both `fooD` and `barD` change

[2018-05-30 23:21] lddubeau commented on #74
Regarding your first batch of cases, there's nothing wrong with your settings. The last case is not indented consistently with the rest. That's a bug. A PR to fix it is welcome.

Regarding your second batch of cases, I cannot reproduce the problem you report. If I run `indent-region` on that entire code, it indents correctly here. Even the last case, which is indented incorrectly *without* a retur

[2018-05-30 23:45] stieg commented on #74
@lddubeau Thank you for confirming.  I have not yet done any development on emacs to date but mayhaps now is the time to learn.  Any pointers or good places to start would be most welcome.

Yes this was my issue.  I was on Melpa stable.  Moving to the more bleeding edge solved that issue.  Thanks.

[2018-05-31 07:58] josteink commented on #74
In that regard, maybe we should consider publishing more builds on MELPA stable too. I'll make a `v0.3` for now at least.

[2018-05-31 19:06] stieg commented on #74
Thanks for the pointers @lddubeau .  I'll start there and see where I can get to.

@josteink That would be good too :D.  At a minimum if you expect people to not use MELPA stable with this package it would be good to explicitly mention that in the README.md.  Currently it notes that both are valid choices.

And most importantly.. thank you all for you work on this.

[2018-06-05 16:51] blaenk opened #75 "Mode is not considered to derive from prog-mode"
I was trying to use `helm-imenu-in-all-buffers` which is a helm command which combines the imenu output of all buffers with the same mode, but part of the filtering process is to ensure that the buffer derives from `prog-mode`, so the resulting list is empty because `typescript-mode` is not considered to derive from `prog-mode`.

I noticed that this mode has an interesting way of defining the pare

[2018-06-05 17:29] lddubeau commented on #75
Ouch... `define-derived-mode` is a macro which stores its `parent` parameter as a quoted value, which is why we end up with the current behavior.

For the life of me, I cannot see why we have that indirection through `typescript-parent-mode`. If I run `git blame` on the code, I see that setup dates from the initial commit and so was probably inherited from `js-mode`. If I look at the current `js-m

[2018-06-05 17:33] josteink commented on #75
No. That’s exactly it.

If every version of Emacs we support also does supports prog-mode, we can remove this indirection without any further ceremony.

[2018-06-05 21:14] #75 closed

[2018-07-02 19:22] KevinVillela opened #77 "Errors no longer highlighted in compilation-mode"
Between TS 2.6 and 2.7 (so maybe around May 2018) they changed the format of the error messages, resulting in next-error not always working in compilation-mode.
I believe this needs to be updated: https://github.com/ananthakumaran/typescript.el/blob/a922c27e95948a13e6a72e2620ca592a744721a7/typescript-mode.el#L2529.

[2018-07-02 20:10] josteink commented on #77
Looks fairly simple.

I’ll take a stab at it once I have time the next few days, unless of course anyone beats me to it.

[2018-07-03 06:32] josteink commented on #77
Trying to reproduce (using latest typescript) I'm not able to reproduce:

![image](https://user-images.githubusercontent.com/411338/42202404-95630f6c-7e9b-11e8-86b2-18b9d203a770.png)

Could you show some example output from your compilation-mode buffer?

[2018-07-06 20:37] KevinVillela commented on #77
Sure, sorry for the delay here, I was on holiday. I think I've figured it out, looks like the error regex doesn't like double-digit columns. Here's my .ts file:
`
  const a: string = 2;
   const a: string = 2;
`
path/to/app_component.ts:1:9 - error TS2451: Cannot redeclare block-scoped variable 'a'.

1   const a: string = 2;
          ~
path/to/app_component.ts:2:10 - error TS2451: Cannot redeclar

[2018-07-07 14:16] josteink commented on #77
Ok. So testing a little on my Linux machine, I see two major changes now...

1. Ansi colours in the output... Not sure how that's going to play with our regexps.
2.Which is a lot harder to notice because of the Ansi-colours... A new format for file & line!

The format of errors themselves does not seem to have changed though, and quotes or anything like that is definitely not where the regexp fail

[2018-07-08 14:35] KevinVillela commented on #77
Would it make sense to use a different regexp depending on the TypeScript version number? I think we should be able to figure out exactly when the error format was changed.

Or, just add both - that seems harmless enough :)

[2018-07-08 17:04] #77 closed

[2018-07-08 17:05] josteink commented on #77
When it comes to `compilation-mode` my experience is that complex regexes are much more troublesome than multiple regexes.

Given how compilation-mode already have 100s of regexes I'll rather add a another one than needlessly complicating the one we have now.

I've added some stuff which may solve this issue, at least if ANSI colour-output isn't causing any problems for compilation-mode.

Let me k

[2018-07-09 19:51] KevinVillela commented on #77
Woohoo thanks for the quick fix, that worked like a charm! Cheers!

[2018-07-29 18:20] tam5 opened #79 "Enable more colors in typescript"
Follow up to #32 which requests customizable faces specific to typescript mode.

This is addressed by PR #78, and allows the currently highlighted faces by typescript mode to be customized.

However, it does not address adding additional highlighting rules. In fact, the example given by @it6 in #32 is for `function-call`, which is not currently given a face at all.

I am proposing to add additiona

[2018-07-30 21:26] josteink commented on #77
New typescript release out and it mentions error-messages.

Anyone wants to see if we need to add new regexps?

https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/

[2018-07-31 12:07] josteink commented on #79
All those changes sounds good to me, and if someone wants to put in the work to implement it, I will be happy to review and merge.

Right now [we have 3 font-lock levels](https://github.com/ananthakumaran/typescript.el/blob/master/typescript-mode.el#L1929-L1933). If we're adding these new ones... Maybe that should go in a fourth?

If so, I'd support making the fourth one the new default, but I kno

[2018-07-31 13:58] lddubeau commented on #79
Putting the additional highlighting in a 4th level seems reasonable. Though I wonder in practice whether it may make integration with other tools (minor modes, etc.) more complicated. I have no evidence one way or the other.

There's probably a segment of our user-base that would welcome the added fontification, but someone who wants to see this functionality integrated to `typescript-mode` needs

[2018-07-31 19:45] lddubeau commented on #77
@josteink I've done a few tests with 3.0 but I've not run into a case where the regexp needed to be edited again. But that ain't saying much.

However, I notice the regexp that was recently added is named `typescript-tsc27-error-regexp`, which implies something to do with TypeScript version 2.7. I'm confused. The change was really introduced in TS 2.9. Moreover, the change was that from 2.9 onward

[2018-08-01 05:07] tam5 commented on #79
@josteink & @lddubeau, I am happy to put some time into this. I'll just need some review comments when done, I assume particularly related to how best to integrate with what already exists.

To the point of customization, font-lock levels, and "too busy":

I would argue (only very slightly) against adding a new font-lock level and instead including this as level 3, for simplicity. I have to assume

[2018-08-01 06:33] josteink commented on #77
That's probably an error on my part not verifying in depth, but instead relying exclusively on the info provided by @KevinVillela. Sorry about being sloppy 😢

So yes, feel free to correct this any way you feel more appropriate.

As for the naming, I thought basing it on a version made sense, since it may also change in other upcoming versions. If you're positive this is not actually related to ver

[2018-08-01 10:33] josteink commented on #32
This comment here is relevant to this issue: https://github.com/ananthakumaran/typescript.el/pull/78#issuecomment-409479553

Basically there seems there is a generalized solution to this problem which can be applied to all major-modes, instead of having every major-mode reimplement the same font-lock inheritance layering.

As such, I'm inclined to close this issue as "won't fix" unless anyone can

[2018-08-01 13:50] KevinVillela commented on #77
Thanks for looking into this, I did some digging and found https://github.com/Microsoft/TypeScript/pull/20736, which is the PR that changed the error output format. It does seem like this is only the case for --pretty mode, although only in TS 2.7+. AFAICT, the change wasn't introduced in 2.9, it just became more prevalent when --pretty became the default. So, I'm fine with a name change and maybe

[2018-08-01 14:16] lddubeau commented on #77
@KevinVillela I did not know that. Thanks for the information. So the format change was introduced in 2.7 but did not become the default until 2.9. Still, I'm more concerned as to what the name implies to someone looking at the code without the historical background: the reason we have two regular expressions for `tsc` errors is that without `pretty`, one format is used, and with `pretty` a differ

[2018-08-01 18:52] josteink commented on #32
Based on closing #78, I've decided to close this issue too as "won't fix".

Disagreement is OK, but then I'll need some really convincing arguments :)

[2018-08-01 18:52] #32 closed

[2018-08-01 19:36] josteink commented on #79
FYI I have emailed Emacs-devel about additional font lock faces:

https://lists.gnu.org/archive/html/emacs-devel/2018-08/msg00020.html

[2018-08-02 07:39] josteink commented on #77
So `typescript-tsc-pretty-error-regexp` it is then?

[2018-08-28 21:37] Ptival opened #81 "Indentation in the absence of semicolons breaks after parameterized type definitions"
[code]

The last line should not be indented.

[2018-08-29 11:15] lddubeau commented on #81
I can reproduce the problem here. A PR to fix the issue is welcome.

[2018-08-30 03:35] Ptival commented on #81
Well, I am currently looking into it, but it turns out to be **very** complicated!

The crux of the problem is to figure out whether a `>` symbol at the end of a line stands for the greater-than sign, or for the end tag of a `<type argument>`. While this still sounds like a simple problem, the fact that TypeScript accomodates for most of the JavaScript syntax makes this harder than it seems.

Cons

[2018-08-30 04:51] Ptival commented on #81
I am working on a solution, but I'm encountering an issue where the following regexps: `[+<>]` and `[<>+]` do not match the same things using `typescript--re-search-backward`.

Is this expected behavior?

[code]

I'd have expected them both to match the '+'

[2018-08-30 10:52] lddubeau commented on #81
Yes, the traditional way of doing indentation in Emacs strains under the complexity of TypeScript's syntax. The strategy is to look at the first non-blank character of the line and then, starting from that point, got back in the buffer to figure out what context we're in. For languages with simple syntax, that's fairly easy to do, and results in fairly simple code. By the time you get to languages

[2018-08-30 11:02] josteink commented on #81
Agreed.

But as we all know, that would be a massive undertaking. For me personally, to justify such an effort I would have to be able to get some pretty massive benefits in returns for that effort.

And as someone using "traditional" TypeScript-syntax with semicolon at the end of my lines, this is definitely not going to be the one who pushes me into implementing this.

If someone else feels like

[2018-08-30 14:17] Ptival commented on #81
I think I came up with a somewhat good heuristic that preserves all good existing behaviors, fixes many of my issues, and only possibly breaks on really weird inputs. I will try and post a PR later today, with an explanation of the heuristic, and a lot of examples of what works and what does not.

Requiring AST, or even worse, type information, for the indentation would indeed be annoying to write

[2018-08-30 18:47] Ptival commented on #81
Ok, I have a pull request ready for reviewing. Here's my final array of tests in case anyone in the future tries to fix this:

[code]

They *all* align correctly after my patch!

[2018-09-06 05:00] Ptival opened #83 "Indentation without semicolons breaks after method calls named "each""
[code]

I might look into it and submit a PR if I feel motivated! :-)

[2018-09-08 13:12] #83 closed

[2018-09-09 01:34] Ptival opened #85 "Over-indentation after call to `catch` method"
[code]

(Sorry for all the issues! :-p)

[2018-09-09 16:59] lddubeau commented on #85
If there's a bug, then an issue is appropriate. This problem does not happen only with `catch` though. I've been able to reproduce it with `finally` and `if` and there may be other keywords that trigger it.

A PR is welcome, though if you want to tackle it, I'd suggest finishing #82 first.

[2018-09-12 01:53] Ailrun opened #86 "Support face for missing JSDoc tags"
## Description
Currently, in https://github.com/ananthakumaran/typescript.el/blob/c2d72b7d816a0ede209c507b1800f98b9d53559b/typescript-mode.el#L417-L531
there are some missing tags, e.g., `@abstract`, `@async`, `@external`, and `@todo`, ...
You can see those tags in http://usejsdoc.org/.
Could you complete tags in http://usejsdoc.org/? If it's hard, could you change those lists into custom variable

[2018-09-14 18:44] #81 closed

[2018-09-18 07:06] #86 closed

[2018-09-18 09:34] #85 closed

[2018-10-01 20:04] felipeochoa commented on #4
@yqrashawn (rjsx author here) No, the `rjsx-class` attribute is added while parsing the buffer, and rjsx cannot parse typescript, only javascript

[2018-10-01 20:22] felipeochoa commented on #4
Separate comment -- what would it take to get JSX support in typescript mode? Would be interested to hear if anyone has given any thoughts in regards to the following features:

* Fontification
* Indentation
* Editing facilities (comment-dwim, rjsx-delete-creates-full-tag, etc.)

It looks like this mode does some sort parsing into "p-items" but not sure if that could be extended to handle JSX. I'm

[2018-10-02 20:05] jack-williams opened #91 "Handling for `undefined` type"
Thought I'd do an issue first before a PR, incase this isn't wanted.

`undefined` is both a value and a type. Currently the highlighting for the type will follow the colouring for the value (there is no special handling for `undefined` in a type position).

Should the type have a different colouring?

[2018-10-10 07:50] josteink commented on #91
Good observation!

It may just be me, but I think undefined is used much more as a value (for checking incoming stuff) than as a type-declaration.

If we have to choose one (and we have to, because we cannot distinguish those 2 with our current code-base), I'd rather keep it like it is: have it highlighted as a value.

Anyone strongly opposed to this view?

[2018-10-10 11:56] jack-williams commented on #91
I think there is some code where it could be roughly a one-to-one correspondence, but in general, I agree with your assumption.

Agreed; I think of the value defining the type, so having the value take precedence is intuitive.

I'm happy for this issue to be closed, unless you want to leave it open for further discussion.

[2018-10-10 12:29] josteink commented on #91
Unless you see value in keeping it open for discussion, feel free to close at will. 👍

[2018-10-10 15:09] #91 closed

[2018-10-23 10:02] josteink opened #93 "Only first type is fontified correctly when extending multiple types"
Consider the following code:

[code]

In this example `typescript-mode` will only highlight "AB" and "A" using `fontlock-type-face`.

B is highlighted using `default`.

[2018-11-15 03:33] liyaodong commented on #41
FYI `tide-jsdoc-template`can insert now

[2018-12-20 08:56] josteink commented on #93
Closed by #96. Thanks @gexplorer!

[2018-12-20 08:56] #93 closed

[2019-01-24 23:54] jack-williams opened #99 "Provisional - Add not keyword"
There is chance that negated types will be added to TypeScript, requiring a new keyword. I have a PR here #98 waiting, but this would be a good first issue.

If anyone would like to grab a contributor badge please feel free to submit a PR (assuming the feature does get added).

[2019-01-26 19:48] lddubeau opened #100 "What range of Emacs version do we support?"
We've figured it out for [tide](https://github.com/ananthakumaran/tide/issues/292).

Maybe just adopt the same rules as tide? Or is there some other consideration I'm forgetting?

I plan to add Emacs 26.1 to the list of Emacs versions tested but I noticed 24.3 is still in the list and maybe should be removed.

[2019-01-28 10:37] josteink commented on #100
I don't see any desperate need to deprecate old versions of Emacs if the code we have right now is chugging along fine on those versions.

However, the second any of those really old versions are preventing new stuff from being added, I'm OK dropping support.

Are there any pressing issues right now, or are you just trying to stay ahead of the curve? :)

[2019-01-28 12:12] lddubeau commented on #100
I'm on 26.1 now so I'm going to modify `.travis.yml` to include 26.1. Might as well take care of any other edits while I'm at it.

I've sometimes adopted the "don't drop a version until it fails in testing" approach. It works fine when I'm the only active developer or when *everyone* knows the rule. I'm concerned about a contributor getting an error on a version that could be dropped from testing,

[2019-01-28 12:33] josteink commented on #100
Fair enough. There's multiple ways to solve that problem as I see it:

* document it in a `CONTRIBUTING.md` file of sorts.
* let CI fail when it fail, and handle it in a PR discussion.
* pre-emptively drop it from `.travis.yml`, like you suggest.

Either approach is fine by me, but I guess the latter approach means least work, and means we won't have to keep this in mind for the future.

Also... T

[2019-02-01 20:53] danielpa9708 commented on #48
Any news about this ?

[2019-02-06 22:58] yintothayang commented on #79
any updates here?

[2019-02-07 00:30] tam5 commented on #79
@yintothayang I had started work on this at [my fork](https://github.com/tam5/typescript.el), which I have now been using for a while, and honestly have not gotten around to rounding out the edges and making sure it is ready for a PR.

If you want to try it out, or check out the code and see what else needs to be done that would be great and we can potentially merge it in

[2019-02-07 04:13] yintothayang commented on #79
I'll take a look, thanks!

[2019-02-19 14:15] tvainika opened #101 "Indent setting from EditorConfig"
I tried to use editorconfig-mode and typescript-el together and noticed that editorconfig indentation settings are not used in typescript mode.  It would be nice to have these two working out of the box if possible.

[2019-02-19 14:25] lddubeau commented on #101
I use `editorconfig-mode` with `typescript-mode` without any issue. I did not have to do anything special. It just worked.

[2019-02-19 19:16] tvainika commented on #101
In my `~/.emacs` I've:
[code]
and in source directory `.editorconfig` I've:
[code]

But when opening `.ts` files with Emacs the indentation level is set to 4, not 2 unless I explicitly change custom variable `typescript-indent-level`. But if this is supposed to work, I guess I've to debug more.

typescript-mode-el v0.3 installed from MELPA stable channel.

[2019-02-19 19:36] lddubeau commented on #101
Maybe your glob is too strict. I now the glob `[*]` would not work for any of my projects. If you have `.editorconfig` at the top of your project, but, for instance, put your TS files in a `src/` subdirectory, then the pattern `[*]` won't match the files in the subdirectory. To match into subdirectories, you'd have to use `[**]` or use `[**.ts]` if you want to restrict the setting only to `.ts` fi

[2019-02-19 20:22] tvainika commented on #101
Something havoc in my Emacs or editorconfig installation. Works with clean setup.

[2019-02-19 20:22] #101 closed

[2019-02-28 18:34] thisch opened #102 "Fix byte-compiler warnings"
GNU Emacs 27.0.50 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.1)
 of 2019-02-26

[code]

[2019-03-01 10:51] josteink commented on #102
First of all: This is Emacs using Git master, right?

Second: I'm not sure this *can* be fixed while maintaining full compatibility with all supported versions of Emacs.

So... Are these just warnings, or are they causing actual errors too?

[2019-03-01 11:41] thisch commented on #102
Yes, this is a bleeding edge emacs ;)

I created this issue, because there may be performance problems in the case of large files that would be fixed by replacing the font-lock-fontify-buffer by the one suggested in the output above. See https://github.com/thisch/python-cell.el/issues/8

I think the warnings above are also output on a released version of emacs, but I haven't checked it.

[2019-03-01 13:56] josteink commented on #102
Feel free to try out the proposed changes in the PR. If it breaks compatibility, I'm sure the CI will let us know :)

[2019-03-01 14:15] lddubeau commented on #102
`font-lock-fontify-buffer` is already avoided on versions of Emacs that provide `font-lock-ensure`, as the [code](https://github.com/emacs-typescript/typescript.el/blob/master/typescript-mode.el#L1864-L1869) surrounding the warning's location show:

[code]

(@josteink I guess we should for `typescript-mode` do the same thing you argued for `tide` and have an analogue of `tide--emacs-at-least` here

[2019-03-05 21:05] josteink commented on #102
Yeah. This was the reason why I asked about actual problems and not just compiler warnings.

That's a good suggestion, although in this case it *is* fairly well documented what we're doing and why.

I haven't looked too deeply into this either, but that sounds plausible.

On the other hand, my experience trying to uncover what was *actually* run in `csharp-mode` (which IMO relied too heavily on co

[2019-03-06 18:16] rhz commented on #40
What is the state of this issue? It would be really cool if typescript-mode would indent multiple variable declarations as in the opening comment, even if it doesn't get destructuring statements right in all edge cases.

[2019-03-06 18:53] lddubeau commented on #40
@rhz PR #56 was the only attempt at fixing the issue, and it died on the vine. Whoever wants to see this resolved should take a look at that PR and the comments on it and build from that to submit a new PR.

[2019-03-06 19:35] #100 closed

[2019-03-06 21:17] rhz commented on #40
@lddubeau I do not have the skills required nor any familiarity with the codebase to be able to do that. I just wanted to open an issue with a feature request and realised it existed already, so I popped in to see if there were still plans of adding this feature.

[2019-03-07 13:27] jcs090218 opened #103 "Function keyword highlight incorrect."
If the function name the same as the keyword, the function also get highlighted.

### Screenshot ###
![ts-mode-bug](https://user-images.githubusercontent.com/8685505/53959802-99b3cd80-411f-11e9-96c7-a31a3f48ba86.png)

[2019-03-07 15:18] lddubeau commented on #103
We welcome PRs to fix this.

[2019-03-08 03:25] jcs090218 commented on #103
I would like to help, but I'm assure I'm bad at `regexp`. My solution wouldn't be the best, maybe it would be good to have `help-wanted` tag on this issue?

[2019-03-08 15:24] lddubeau commented on #103
@jcs090218 Yeah, we've gotten into the habit of saying "PRs welcome".

@josteink Any objection to the systematic use of the "help-wanted" label for those cases where we'd say "PR welcome"? I think right now it would mean turning it on for all (or almost all) issue reports.

[2019-03-08 16:57] josteink commented on #103
I was about to make a comment that this label is implicitly applicable to any unsold an open issue which we have in this repo.

That’s said I see no problem with being a little more explicit about it. Feel free to tag any and all issues you like 👍

[2019-03-08 17:15] lddubeau commented on #39
I'm going to close this. As usual, if there's a substantial argument to be made in favor of the feature proposed here, we can reopen.

[2019-03-08 17:15] #39 closed

[2019-03-08 17:21] lddubeau commented on #18
I'm closing this due to the lack of an actual case illustrating the problem. I'll gladly reopen once a case other people can use to reproduce the problem is added to this issue. I use `typescript-mode` day in and day out and don't recall a specific problem with highlighting arrow functions. Maybe it's been fixed while fixing another problem... hard to tell without a case.

[2019-03-08 17:21] #18 closed

[2019-03-08 17:31] lddubeau commented on #17
The warning about `syntax-begin-function` came up recently in #102 There's nothing to be done from the perspective of maintaining functionality. `syntax-begin-function` is just no longer used, with no replacement. Setting it in newer Emacs causes a warning but is not otherwise harmful. I'm closing this in favor of #102 where we've been focusing on how to suppress the warning, which is the only iss

[2019-03-08 17:31] #17 closed

[2019-03-08 17:40] lddubeau commented on #6
I cannot reproduce this issue.

[2019-03-08 17:40] #6 closed

[2019-03-08 17:43] lddubeau commented on #5
This sounds like the same thing as I reported (much later) in #47. Since #47 has an illustration of the problem and discussion, I'm closing in favor of #47. If I misunderstood the issue reported here, please add a case that reproduces the problem and distinguishes it from #47.

[2019-03-08 17:43] #5 closed

[2019-03-08 17:56] josteink commented on #4
Quite recently, `emacs-devel` has had some discussions about how to handle JSX better in core Emacs, and I've provided some minimal feedback w.r.t. JSX/React-syntax being used by other languages, not just JavaScript.

How it's solved in core may be relevant to how it's best solved in `typescript-mode`.

Thread for those interested: https://lists.gnu.org/archive/html/emacs-devel/2019-02/msg00430.ht

[2019-03-08 18:05] lddubeau commented on #11
Since we take `tsserver`'s formatting as our guide for how indentation is performed in `typescript-mode`, those who want to use `tide` to check what `tsserver` does with the reproduction case provided above should remember that they need to set `:placeOpenBraceOnNewLineForFunctions t` in their `tide-format-options` variable.

[2019-03-08 19:18] lddubeau commented on #102
@josteink I meant to reply earlier, but forgot. The one thing that I feel I need to reply to is:

Hmm... are we on the same page here? `with-no-warnings` can be scoped to the one line that causes the warnings so:

[code]

I suppose a line that is wrapped like this could someday generate *additional* warnings that it may be good to know about but I'd expect the risk to be fairly small.

This being

[2019-03-09 21:04] josteink commented on #102
Probably not. I was replying from my phone (quite busy handling babies these days :smiley: ), and assumed you meant a global compile-flag passed to the general build process.

Right. In that case I agree, and have no issues with it what so ever.

[2019-03-30 14:02] xged opened #104 "Syntax highlighting for types"
I see types in type aliasing (before `=`) being highlighted (`font-lock-type-face`), but not in other places when they are used (`default`). Would like to see types being highlighted wherever they are.

[2019-04-04 18:15] josteink commented on #104
That would be nice, but it would require `typescript-mode` to posess a full parse-tree/AST of the buffer at hand to know first hand if something is a type or not.

Doing this with pure regexps (like we are doing now) is simply not possible, without causing other things to be accidentally highlighted like types without actually being so.

Basically, we agree, but it's hard and would take a total re

[2019-05-22 00:44] AdamNiederer commented on #104
I've recently implemented a somewhat-sophisticated syntax highlighting system for `ng2-mode`, which uses `typescript-mode` as its parent. It's mostly regex-based, except for types in `import` blocks and.

The only requirement users need follow is starting types with capital letters or symbols and starting non-types with lowercase letters most of the time (which most good typescript code does anywa

[2019-06-01 10:32] josteink commented on #104
This sounds great, and sorry for not taking the time to look into it properly right now.

I'm on paternity leave and kids take all my time, but if nobody else has picked this up by the time I'm back at work, I will definitely dig into this 100%.

[2019-06-05 10:01] ramblehead opened #105 "Infinite loop in typescript--forward-expression"
The following snippet is the current implementation of ```typescript--forward-expression``` function which I have from melpa:

[code]

The following is the typescript which causes ```typescript--forward-expression```  to go into infinite loop:

[code]
If the point is placed in the beginning of ```fetch``` and ```typescript--forward-expression```  is executed, it would move point between closing br

[2019-06-05 11:10] lddubeau commented on #105
Thank you for providing a complete report. I used the reproduction case and was able to immediately reproduce the issue here. So I confirm this is a real bug.

I'm pressed for time these days. So I'm not able to get to this quickly. If you are able to, you could submit a PR that includes a test case for the error you found.

[2019-06-05 21:17] ramblehead commented on #105
Thank you for the quick response. I will try look into the test case this weekend.

[2019-06-11 10:32] #105 closed

[2019-07-04 05:02] paxperscientiam opened #107 "Let declaration with assertion + without value => incorrect indentation"
Hello!

There is an indentation bug that arises when using type assertion on let variables without an explicit default value. Well, at least in the present case.

Minimal example.:
[code]

[2019-07-04 14:29] linchen2chris opened #108 "typescript-tsx-mode is missing"
typescript-tsx-mode is missing now

[2019-07-08 09:58] #108 closed

[2019-07-10 19:52] lddubeau commented on #107
The problem is with `<HTMLImageElement>`. If I remove it from the case that is not indented properly, the problem goes away.

I'll take a look at the indentation logic and come up with a solution.

[2019-07-10 20:18] lddubeau commented on #107
I've put a fix on this branch:

https://github.com/emacs-typescript/typescript.el/tree/fix/indentation

@paxperscientiam Is it possible for you to try that fix and see whether it has any unintended consequences? I've added a test just for it and the change has not caused any old indentation test to fail but it would be good to double check nonetheless. Semi-colons are mandatory in all my projects

[2019-07-13 04:40] paxperscientiam commented on #107
@lddubeau Awesome. I'll give it a looksy.

[2019-07-17 06:19] josteink commented on #104
Back from paternity leave now.

I agree with this. That's a fairly simple solution which should work well with idiomatic TypeScript-code without requiring a full rewrite.

Anyone have any objections to such an approach?

[2019-07-17 09:27] lddubeau commented on #107
@paxperscientiam Thanks for confirming. By the way, new comments generate emails but edits do not. I received an email with "Awesome. I'll give it a looksy." and then that was that. I was under the impression that you had still not gotten around to doing it until just now when I happened by chance to click on this issue and see your edit. I'm going to merge the fix ASAP.

[2019-07-17 09:30] #107 closed

[2019-07-17 09:57] lddubeau opened #109 "travis run for Emacs 26.1 failing"
The travis run for Emacs 26.1 is currently failing... it is not clear why. I'm investigating.

[2019-07-17 10:12] lddubeau commented on #109
My going hypothesis is that Travis recently changed its default OS from Trusty to Xenial and it caused evm to fail to install Emacs properly. I added an `emacs --version` prior to running `cask` and get:

[code]

The issue was reported here: https://github.com/rejeep/evm/issues/125

[2019-07-17 10:14] lddubeau commented on #109
Ironically: https://github.com/ananthakumaran/tide/commit/016576ba2f716f320269659ce0d8ed249016af00

[2019-07-17 10:25] lddubeau commented on #109
The immediate problem has been fixed by pinning the distro used by Travis to Trusty. We should monitor https://github.com/rejeep/evm/issues/125 and let Travis use Xenial once that issue is resolved.

[2019-07-17 10:55] josteink commented on #109
Thanks for the research @lddubeau.

This will definitely come in handy for other travis & emacs based repos I work with, and probably for others too.

[2019-07-17 11:43] lddubeau commented on #104
@josteink Welcome back!

I do. There are multiple contributors to this project, so I don't know how consistent we've been in this overall, but my approach with regards to limitations has always been "this case is not supported because the TypeScript code in the case is complex beyond the point that we can support". I'm taking about syntactic complexity here. Examples in decreasing order of complex

[2019-07-17 16:16] paxperscientiam commented on #107
@lddubeau Oh, I didn't know that about edits. Thanks for the heads up.

I appreciate your effort!

[2019-07-20 12:39] ar1a commented on #79
Would love to see some progress on this! typescript-mode feels monotone in comparison to the competition :(

[2019-07-23 06:40] josteink commented on #79
@tam5: Any change your fork is getting ready for a PR? :)

[2019-07-23 06:42] josteink commented on #104
That's fair enough.

Would you be open to the idea of allowing this based on a preference/defcustom... Or probably better: a custom (non-default?) syntax-highlighting level?

[2019-07-23 21:34] AdamNiederer commented on #104
Using the built-in `font-lock-maximum-decoration` to gate different modes of fontification is probably still within the spirit of the setting. `typescript.el`'s highlighting is approximately enough to satisfy level 2, whereas the style-based highlighters in `ng2-ts-mode`  satisfy level 3, for well-styled typescript. For typescript outside the style norms, it will gracefully degrade to a level betw

[2019-07-23 23:10] lddubeau commented on #104
@josteink

It definitely must be able to be turned off. What @AdamNiederer suggested with the font lock levels is seems to me to be right.

[2019-07-24 06:49] josteink commented on #104
@lddubeau: I guess I expressed myself somewhat imprecise, but yes I what @AdamNiederer says is exactly what I meant.

If you're happy with that, I guess it's OK for @AdamNiederer to move ahead with a PR 😃

[2019-07-26 18:34] tam5 commented on #79
So far, as a fourth level of highlighting, I have implemented the following (see the first post for more detailed examples):

- [x] function calls (`font-lock-function-name-face`)
- [x] function definitions in classes (`font-lock-function-name-face`)
- [x] decorators (`font-lock-function-name-face`)
- [x] builtins (right now just `console`, as `font-lock-type-face`)
- [x] access modifiers (`privat

[2019-07-29 11:20] lddubeau commented on #104
@josteink Really, the only way to address my objection would be to implement it in a way that does not use stylistic shortcuts. The ability to turn it off while still having some highlighting only makes it *less objectionable* than it would otherwise be. But in this project my objections are not the final word, so the PR can be submitted, over my objection.

[2019-08-01 10:12] josteink commented on #104
@lddubeau I'm a strong proponent of consistency. And you are probably the biggest contributor to this project both wrt to technical implementations and good, consistent considerations about those.

If you have reasonable objections, I have no desire to override those, and risk make you feel like your input and contributions are not fully and deeply appreciated here.

Basically I'm just trying to b

[2019-08-01 21:27] AdamNiederer commented on #104
I'd like to chime in and say that perfect is the enemy of good. Do we reasonably forsee the addition of syntactic highlighting to the project? Such a system is going to require more code than was contributed to this project (excluding tests) in the past year, and syntactic highlighting in typescript.el is not well positioned compared to offerings from other code editors.

[2019-08-06 08:43] josteink commented on #79
There's still some controversy/discussing about HOW such things should best be implemented, but I think having working code is a good start.

If you can create a PR, I won't guarantee that we will merge it right away, but I'm definitely eager to see what the code looks like, not to mention how it ends up looking to an end-user.

So yes, please create a PR and lets see where we can take this 😄

[2019-08-06 12:54] josteink commented on #104
Agreed.

Given the generally low activity this project have, I honestly don't foresee this happening *ever* in its lifetime.

But it's not just typescript-mode: It's a common problem for several major-modes in Emacs trying to support modern, complex languages. They are all "awaiting" this syntactic rewrite which will "solve everything".

But IMO for that to happen, some catalyst needs to suddenly

[2019-08-23 19:37] jack-williams commented on #99
Closing for now. Will re-open if the source issue changes.

[2019-08-23 19:37] #99 closed

[2019-09-18 10:42] #79 closed

[2019-09-18 10:42] josteink commented on #79
Closed and fixed by @tam5 :)

[2019-09-20 18:23] josteink opened #112 "Fontification of parameters in function-declaration differs from method-declaration"
Consider the following code:

[code]

`someFunction` will have the params (and types!) highlighted using `font-lock-variable-name-face`, while `someMethod` will have the params highlighted using the default-face:

![Screenshot-Fri 20 Sep 2019 08:22:50 PM CEST](https://user-images.githubusercontent.com/411338/65349732-709eea00-dbe4-11e9-8cef-6b0c3c057898.png)

This has at least 2 errors:

* highlig

[2019-09-20 20:09] josteink commented on #112
If my `git blame` skills are to be trusted, this bug has actually been there since the initial commit. Oh my!

If so, the following lines can be blamed:

https://github.com/emacs-typescript/typescript.el/blob/1bafd279cf5161476aa540267ea0a45684749cbd/typescript-mode.el#L1878-L1886

That's really so overly broad, I might consider removing it all together.

[2019-09-23 18:53] tam5 commented on #112
you mentioned 2 issues, there is a different challenge for each:

This is basically due to the lack of support for highlighting types via the `: Thing` syntax. And that topic probably covered in #104, which I'll add a comment to.

The other issue

is due to lack of coverage for all cases of a function declaration, as you pointed to above. The lambda function should actually be quite easy to implem

[2019-09-23 20:08] josteink commented on #109
Xenial now supposedly fixed.

[2019-09-24 13:07] josteink commented on #109
Indeed. Now we have CI for all modern versions.

And still green. Woo!

[2019-10-16 02:22] nree opened #115 "font-lock-comment-face breaks company"
[code]
This breaks alignment on company autocomplete suggestions for me for some reason...

Font chose doesn't matter, and the comment-delimiter-face doesn't matter.

Happens in js2-mode too but not that often. Won't happen if the suggestions are short (doesn't have scrolling). Won't happen in elisp.

I have a pretty simple company, tide, typescript setup (pretty much default configs).

Tried emac

[2019-10-17 19:56] josteink commented on #115
First off: Autocomplete is provide by [tide](https://github.com/ananthakumaran/tide). Tide-related issues should be filed there.

Isn't Arial a non fixed-width font? Doesn't company rely on fixed width output to ensure "aligned" columns when adding additional columns besides just the member-name?

What happens if you use another fixed-width font instead? Does that have issues?

I'm honestly not su

[2019-10-17 19:56] #115 closed

[2019-10-18 14:24] nree commented on #115
Yes you're right my apologies. I wasn't sure where to bring this up.
But thank you for your reply. It gave me a better understanding of the issue.
I had tried different fonts even monospace ones with same result so that threw me off. But your reply helped me better understand and I realize monospace will break too if it isn't "aligned" as you mentioned with the face company was using.

I don't wis

[2019-10-22 02:13] jcs090218 commented on #104
Hi, I found this thread and start it a new project [here](https://github.com/jcs-elpa/parse-it). I attempt to create an AST for certain modern programming languages. Do you think this help and maybe could resolve the issue like this? :/

[2019-11-12 14:28] andreineculau opened #117 "typescript-indent-line: Arithmetic error"
if `.editorconfig` says `indent_size = none` which is a way to say editorconfig will not handle indentation for this file

[2019-11-12 15:13] andreineculau commented on #117
investigating a bit, but it seems it's not related to editorconfig.

when `indent_size = none` there is no indentation set by editorconfig so `typescript-indent-line` ends up calling `(indent-line-to 4)` (the default indentation)

I can call `indent-line-to` with <= 2, but nothing bigger for some reason.

afaics the situation doens't change when turning off all other modes, thus i'm leaving this o

[2019-11-14 07:53] josteink commented on #117
Hey there and thanks for the report!

As someone not using `.editorconfig` myself... And I'm not sure I fully understand.

Could you come up with a minimal use-case/repo with what you expected to happen vs what really happened, and where the problem you encounter can easily be reproduced, and thus debugged?

[2019-11-19 13:45] raeffu opened #118 "Incompatibility with smartparens (wrap in quotes)"
With smartparens you can select text, then write `"` which will wrap the selected word/text in quotes
 (like so: `"foobar"`). The commit https://github.com/emacs-typescript/typescript.el/commit/f20103a4487a404d11521305db63f550d9eb3fe1 breaks this functionality. The buffer is then totally f**ked up, even undo doesn't work correctly. `typescript-mode` is the only mode in my setup that has this probl

[2019-11-19 22:33] AdamNiederer commented on #104
LSP does not handle syntax highlighting because it must be a low-latency operation, and both leaving it in the address space in of the editor and designing it around the editor's display engine is the lowest-latency way of doing it.

[2019-11-20 03:40] tam5 commented on #104
@zhenwenc I am sorry recent changes have been disrupted to you. I think your case is one we overlooked when implementing generics. By checking out an older revision I can see that previously, jsx blocks would not get any highlighting. I will update our regex to account for this case, so we support the generic highlighting and we restore the jsx highlighting to what it was before, although in my op

[2019-11-20 08:42] josteink commented on #104
Uh. `typescript-mode` *is* the piece of code repsonsible for handling syntax-highlighting and indentation for typescript-files in Emacs by default. LSP does not help with anything here.

While I agree regexp-based analysis is woefully insufficient for 100% correct highlighting in all cases, I don't think that's an argument for not trying to improve what we have.

Don't you mean TSX? Because why wo

[2019-11-20 20:19] zhenwenc commented on #104
@josteink Thanks for the reply.

My point is, since it's known that there is no way to provide correct highlighting in all cases, **as a major mode** wouldn't it better to provide a conservative solution instead? For example in the past, only highlight things like keywords, which are 99% correct in all cases, was already super helpful and good enough.

- [Semantic highlighting protocol extension (

[2019-11-20 20:26] zhenwenc commented on #104
Hi @tam5 , thanks for your reply! Great thanks for your effort of improving `typescript-mode`, much appreciated! Apology if my last reply sound like bad tone.

[2020-01-06 06:37] t3hmrman opened #123 "Help with/support for dir-locals.el"
`typescript-mode` doesn't seem to support [dir-locals](https://www.gnu.org/software/emacs/manual/html_node/emacs/Directory-Variables.html), I've tried with a `.dir-locals.el` file that looks like this:

[code]
Does `typescript-mode` support dir local variables?

[EDIT] - Here's a work-around that does work for me:

[code]

And in `~/.emacs`/(or the block of settings that `customize` outputs):

[co

[2020-01-06 11:46] lddubeau commented on #123
I cannot reproduce the problem. If I take your first block of code but change 4 to a value that I'm sure is not a default, put it in a `.dir-locals.el` file in a new empty directory and then create `.ts` files in there, then the indent level is set to what is in the `.dir-locals.el` file. (If I remove it, it goes back to the default.) I've tried both with my ever-opened-emacs and with a new emacs

[2020-01-06 11:46] #123 closed

[2020-01-07 01:29] t3hmrman commented on #123
thanks for taking a look @lddubeau this must have been something on my end -- will keep looking on my end and update if I find what was messing up the config.

[2020-01-09 09:29] zeusdeux commented on #118
The same applies to calling `typescript-insert-and-indent` (bound to `(`, etc) when `pending-delete-mode` is enabled in a `typescript-mode` buffer.

[2020-01-09 22:37] PenguinToast commented on #118
This seems related to https://github.com/emacs-typescript/typescript.el/commit/f20103a4487a404d11521305db63f550d9eb3fe1 - undoing the changes from this commit fixes this issue locally for me.

[2020-01-10 11:54] josteink commented on #118
@elibarzilay: This change was introduced by you. Would you care looking into it? :smiley:

[2020-01-10 12:48] lddubeau commented on #118
@josteink I have a partial solution in [this branch](https://github.com/emacs-typescript/typescript.el/tree/smartparens-compatibility). It takes care of everything except the issue with the quotes.

As far as the quotes are concerned. Here are my thoughts:

1. First of all, looking at the code of smartparens and delete-selection, I"m seeing a lot of code that depends on things being "just so". Sma

[2020-01-10 16:37] elibarzilay commented on #118
1. @zeusdeux -- is that with `pending-delete-mode` and without anything
   else?  (I'd be surprised since that's just an alias for
   `delete-selection-mode` which is where I saw the problem.)

2. @lddubeau -- using built-in functionality sounds like a good idea.

3. I had a brief look at smartparens, and was horrified that so much
   code is needed for functionality that is mostly part of Emacs a

[2020-01-12 18:30] lddubeau commented on #118
@PenguinToast @zeusdeux @raeffu Can you try the fix in #124 and let me know whether you still have problems after that fix is applied?

[2020-01-13 06:16] raeffu commented on #118
@lddubeau Fix #124 solves the problem for me! 👍

[2020-01-17 10:56] zeusdeux commented on #118
@lddubeau Can confirm #124 works for my use case as well. Thanks!

[2020-01-17 17:08] #118 closed

[2020-01-17 17:09] lddubeau commented on #118
@raeffu @zeusdeux  Thanks for the beedback. The PR has been merged.

[2020-01-18 20:25] zeusdeux commented on #118
@lddubeau Brilliant! Thanks! I'll update next week once it's on melpa! ^_^

[2020-01-21 06:55] josteink commented on #104
Closing issue due to no activity in months. Hope everyone is happy :smiley:

[2020-01-21 06:55] #104 closed

[2020-01-30 10:29] josteink commented on #112
This issue is somewhat alleviated by [a change I'm trying out now](https://github.com/emacs-typescript/typescript.el/tree/feature/types-in-declarations).

It's a font-lock change based on previous discussion about using popular conventions for syntax-highlighting, more than *just* the syntactical context.

Overly simplified it recognizes anything following a colon (:) which starts with a upper-cas

[2020-02-01 14:26] Fuco1 commented on #112
I cloned the repo now and was literally about to begin implementing what you describe.

I've also found some other inconsistencies, for example `null` is highlighted as a keyword not a constant (even though you have the regexps for it, but the ordering of the font-lock rules is incorrect).

There's a host of advanced font-locking magic that can handle almost any syntax imaginable, I've written abo

[2020-02-01 14:45] Fuco1 commented on #112
A quick demonstration on how the anchored matcher can be used to fontify types in `function`:

# Before

![](https://i.imgur.com/fx50kZB.png)

# After

[code]

![](https://i.imgur.com/KuXfE3u.png)

[2020-02-05 20:20] josteink commented on #112
Hey @Fuco1.

Sorry about the slow reply here, but I’m currently really busy with a few things at work.

I promise to review your changes first thing when I have a spare minute 🙂

[2020-02-06 14:06] lddubeau commented on #39
I've tried prettier earlier today and immediately uninstalled it.

I have a few reflections about "support for prettier" in the context of this mode.

First, right now, it looks like if anyone wants support for it, **they'll have to step up to the plate themselves** and provide a quality PR (substantially tested) for it.

I can see two ways "support for prettier" could potentially apply to this mo

[2020-02-17 09:24] josteink commented on #112
Hey @Fuco1.

Your code here looks really simple. Right now there's a few things it doesn't do "right", but that's no reason to reject this idea for how to solve it outright.

I like the simplicity of the solution.

There's a few I would like to see addressed though:

* built-in types and values (null, number, string) should be highlighted consistently with the rest of typescript-mode, and not be g

[2020-02-17 11:15] lddubeau commented on #117
Without a case to reproduce this, we cannot move forward. This can be reopened once we get such a case.

[2020-02-17 11:15] #117 closed

[2020-02-23 11:18] Fuco1 commented on #112
Personally, I prefer the built-in types and values to be fontified as types when in type context.  It helps to distinguish the use-case.  This is actually one thing that I find a bit confusing when skimming code and "looking for colors" and they pop up where I would not expect them and the reason I looked up this issue in the first place.

We can probably introduce something like `typescript-type-

[2020-02-28 08:13] josteink commented on #112
I guess none of us are technically speaking *wrong* here: string, number, null etc *are* built ins, but they are also types.

Which makes this a preference more than something objectively correct.

I think this sounds like a good solution. I support this.

Fair enough. I guess we can leave "fixing" that until we have the rest of the stuff specced out and agreed upon.

[2020-02-28 17:59] Jevri opened #128 "Make typescript-mode compatible with mmm-mode"
The functions conserned with parsing call widen. This makes makes it unable to parse properly when used with mmm-mode.

[2020-02-28 18:47] lddubeau commented on #128
In principle, being able to work fine with `mmm-mode` would be a valuable feature.

So we need someone who knows `mmm-mode` well enough to step up and implement this change. (And that person is not me because I do not use `mmm-mode`.) Merely removing the calls to `widen` won't do it. This [email](https://lists.gnu.org/archive/html/emacs-devel/2017-12/msg00321.html) mentions documentation for major

[2020-02-28 18:49] lddubeau commented on #128
I've moved your title into the first comment and edited the title to reflect better what the stakes are. Dealing with `widen` is probably just *one* aspect of compatibility with `mmm-mode`.

[2020-02-28 19:52] josteink commented on #128
Agreed. And it's not me either.

How about you, @Jevri ?

[2020-02-28 22:07] Jevri commented on #128
I honestly do not know much about either, other then it did not work because typescript mode tried to parse everything

[2020-02-28 22:09] Jevri commented on #128
I might investigate a bit though

[2020-03-04 18:14] yasushi-saito opened #130 "Add tsx to auto-mode-alist"
Changing the next-to-last line to:

(add-to-list 'auto-mode-alist '("\\.tsx?$" . typescript-mode))

should work.

[2020-03-04 18:23] lddubeau commented on #130
This mode does not currently support tsx.  We're not going to add `.tsx` to the `auto-mode-alist` until the mode does support tsx. Adding it to the list without proper support would just confuse users who (reasonably) expect that if the mode modifies `auto-mode-alist` to associate tsx with this mode, then this mode supports tsx.

See #4

In order for tsx support to be added, someone who needs this

[2020-03-04 18:23] #130 closed

[2020-03-05 08:27] josteink commented on #130
If that change works for you and the way you use TSX, good for you. You can add it to your `init.el` and ensure everything works as you like it on your end.

On our part though, I agree with @lddubeau: I don't want to give other Emacs-users a false sense of what they can expect to work and to be supported. In that respect it's IMO better to be conservative than liberal. Users (like yourself) are f

[2020-03-05 16:31] tam5 commented on #112
Definitely agree that this would need to be fixed.

This is something I had entertained once before. Maybe it's time to revisit #78

[2020-03-06 08:00] gaudecker commented on #4
Emacs 27 now supports JSX in `js-mode`, maybe this can be leveraged?

[2020-03-06 14:18] lddubeau commented on #4
I'm sure `js-mode`'s JSX support can be helpful in some way.

However, the main obstacle to getting TSX support is that *nobody who needs it is stepping up to implement it*. I'm going to [quote](https://github.com/emacs-typescript/typescript.el/issues/130#issuecomment-595093858) @josteink:

[2020-03-09 06:45] gaudecker commented on #4
@lddubeau there are 3 (including me) Emacs users at our company who can help with the testing. I have some experience with elisp, but have never implemented a major mode.

I will take a look at the code and see I can can help.

[2020-03-09 08:13] josteink opened #131 "Single-line object-constructors are fontified incorrectly when prefixed on a line with a generic operation"
Take the line of typical REST service boilerplate:

[code]

In Emacs this gets fontified incorrectly:
![image](https://user-images.githubusercontent.com/411338/76193925-5df58d00-61e5-11ea-8dcb-b01b503fbb4c.png)

Modified to include a line-break it almost looks good, but still has issues:

![image](https://user-images.githubusercontent.com/411338/76194298-2b985f80-61e6-11ea-828e-1549899488c9.png)

[2020-03-09 08:26] josteink commented on #131
I've looked into this some more, and this code contains elements from both PR #110 and #119, but as far as I can see, the error was already there in #110.

[2020-03-09 08:36] josteink commented on #131
Looking futher into this test-case it only seems to fail when the generic type-argument contains an array.

Consider the following examples:

[code]

This renders as following:

![image](https://user-images.githubusercontent.com/411338/76195787-5b953200-61e9-11ea-9ab7-eedb43c6554f.png)

This makes the error less severe, as not *all* generic operations are affected, but it's still annoying.

[2020-03-09 08:47] josteink commented on #131
After I merged #129 to git `master`, I'm able to make this look "good" with the following patch:

[code]

I'll create a PR for it.

[2020-03-09 08:55] josteink commented on #131
Update: While my above patch solves the simple test-cases of goodTestCase and badTestCase, it doesnt work for more complex scenarios:

![image](https://user-images.githubusercontent.com/411338/76197188-fa229280-61eb-11ea-84e3-223cc26dc5a0.png)

Now it's just weird. I'll leave it at this for now, and hopefully you can work this out @tam5.

[2020-03-09 17:12] tam5 commented on #4
I currently use `tsx` (react) with `web-mode` plus `tide` which means plus `typescript-mode`.

As far as I can tell, I would consider `tsx` fully supported, especially the concerns posted by @evmar in 2015. If there is still something left to do, I'd suggest we close this issue and open a new one describing what is yet to be implemented.

[2020-03-09 18:51] lddubeau commented on #4
@tam5 I'm using `web-mode` to edit `.vue` files that contain HTML, CSS (or a variant) and TypeScript, but from my experience `web-mode` cannot apply to a buffer simultaneously with `typescript-mode`. `typescript-mode` has not been designed to cooperate with other major modes. It would be useful to have a wiki page describing how you get that working together.

`web-mode` plus `tide` presents no in

[2020-03-09 18:53] MikHulk commented on #4
@evmar There is a rjsx-mode in emacs which corks fine. I don't use web-mode.
@tam5 I don't know tide, but what I would like is editing tsx the smae amnner as in rjsx-mode.
rjsx-mode is built on js2-mode and have nice features as syntax control.

[2020-03-12 22:38] tam5 commented on #131
I have seen this, not ignoring it. And @josteink you are right about the ending being the issue. It is like this I think so that we can handle nested generics i.e. `method<Array<T>>()`. Will need to think of a way to accommodate both.

[2020-03-25 12:57] kuba-orlik opened #133 "[feature request] Highlight variables in template literals"
Currently typescript-mode does not highlight values inside template literals:

![image](https://user-images.githubusercontent.com/2697916/77538710-0ec38380-6e98-11ea-99c6-7c9f3ec465c6.png)

`js2-mode` handles that well and I sometimes find myself switching between the two when working with template literals:

![image](https://user-images.githubusercontent.com/2697916/77538753-26027100-6e98-11ea-8a

[2020-03-25 13:17] lddubeau commented on #133
Duplicate of #48

PR welcome.

[2020-03-25 13:17] #133 closed

[2020-05-13 16:04] geoffp commented on #4
For day to day web development, what I'd put forward is that to be competitive with VSCode, we'd need:
1. First-class JSX support, in our case, for `.tsx` files
1. Ability to work within [polymode](https://github.com/polymode/polymode) so we can provide a first-class CSS experience in `.vue` files, Styled Components, or what have you.

Beyond that, I _think_ all the advanced language comprehension

[2020-05-13 16:35] geoffp commented on #4
Also: the `javascript-mode` in Emacs 27 seems _really_ good. It handles JSX almost perfectly, from what I can tell.

[2020-05-13 17:05] lddubeau commented on #4
General remark: I think we're all on board with having support for tsx files, but the situation has not changed since I wrote the following in an earlier comment on this issue:

----

And now specific reactions to @geoffp's comments:

Every... single... time... I've tried using one of those "multiple major modes on the same buffer" modes, and I've tried many times, it has *never* worked right. I s

[2020-05-14 14:08] josteink commented on #4
Seconding that. We may have a chicken and egg problem: TSX-users are not using Emacs/typescript-mode because it has inadequate TSX-support, and since we don't have users with a burning passion for TSX, nobody steps up to improve the support.

I've tried a few times, but never understood how it was supposed to work. Granted I didn't try *too hard*, but I guess we can assume a fair amount of average

[2020-05-14 20:40] felipeochoa commented on #4
Author of rjsx-mode here. I haven't used 27 yet, but from a couple of threads I was on, I got the sense that there was more to do on the JSX front still.

From what I saw of the js-mode process, parsing JSX with regexes was a monster effort when it was Javascript alone, and even then it relied on certain conventions (multiline JSX has to be enclosed in parens, with the root tag on its own line) to

[2020-05-15 06:54] shackra commented on #4
please allow me to interject: what if we wait for https://github.com/ubolonton/emacs-tree-sitter to be somewhat usable and relay on it for parsing instead?

[2020-05-15 07:50] josteink commented on #4
That looks amazing.

I also guess it *would* be possible to do an *incremental* rewrite of typescript-mode using that package, as opposed to the full rewrite we all fear (and which almost never work).

Are there any examples of any major-modes built using that package yet?

[2020-05-15 17:54] shackra commented on #4
not so far, the author is working on the documentation for syntax highlight still.

[2020-05-28 15:57] jacksonrayhamilton commented on #4
Emacs 27 JSX author here.  Also, non-TypeScript user here.  I too wondered why typescript-mode was a standalone mode, as opposed to being a derived mode of js-mode.  After all, TypeScript is a superset of JavaScript, right?  Wouldn’t it be awesome if you guys could inherit support for the latest language features that are happening in Emacs core?

Indeed, parsing JSX was quite difficult.  But it n

[2020-05-29 05:26] josteink commented on #4
Historical reasons, mostly. I guess this was started as a fork, when js-mode was far from as feature-rich as it is today.

Also, as the (somewhat dormant) maintainer of `csharp-mode`, a major-mode which derives from `cc-mode`, I have experiences with being (third party) derived modes having their own kinds of issues wrt following up and being compatible with different versions of upstream base-mod

[2020-06-14 19:11] leungbk opened #135 "typescript-beginning-of-defun misses ES2015 forms"
ES2015 classes and class methods, along with stuff like

[code]

are not treated as `defuns`. Maybe you could argue against treating the latter that way, but I think classes and their methods should be treated as functions.

[2020-06-15 04:04] kishiguro commented on #59
I encountered same issue.  Is there anybody who is working on fixing this issue?

[2020-08-18 17:49] orzechowskid opened #138 "can't seem to indent props in JSX expression"
software versions:
- emacs 27.1 ; also tried with emacs-snapshot 28.0.50 (latest snapshot from the ubuntu-elisp ppa)
- typescript-mode 20200817.817

steps to reproduce:
1. `emacs -Q`
2. open a typescript file
3. `M-x typescript-mode`
4. write the following code:
[code]
5. attempt to put the JSX prop on its own line.

desired output:
[code]
actual output:
[code]
possibly relevant info:
- `indent-ta

[2020-08-19 07:59] josteink commented on #138
Please search existing issues. JSX/TSX is not yet actually supported:

https://github.com/emacs-typescript/typescript.el/issues/4

[2020-08-19 07:59] #138 closed

[2020-08-24 19:30] Jevri commented on #128
I think this was actually a bug in Vue mode. The solution in the comments [here](https://github.com/AdamNiederer/vue-mode/issues/74) fixed my issue. Sorry for the trouble :)

[2020-08-24 19:30] #128 closed

[2020-11-10 20:54] Sleepful commented on #4
Hey! I work with TSX on the daily and I have tested a bunch of modes (rjsx, js-mode, js2-mode, web-mode), none have been satisfying for Typescript + JSX + other things like CSS template literals. For example, web-mode does some funky things when mixed with `prettier-mode` and truncates whole columns of code.

I think this package already does some TSX highlighting, is that right? I definitely see

[2020-11-10 23:16] jacksonrayhamilton commented on #4
Indenting JSX was extremely difficult (as least the way I chose to pursue it :stuck_out_tongue:).  I probably spent at least 50 hours in total over the span of a few months reworking `js-mode` to parse JSX loosely to the extent all my test cases were passing and it was generally usable and fast.  So it would be great if that effort didn’t need to be duplicated for TypeScript, especially given how

[2020-11-12 03:30] geoffp commented on #4
I feel like the trend seems to be solidly in the direction of multiple languages embedded in a “host” language file. `.mdx` comes to mind, where you have JSX and I think YAML (for the front matter) hosted in a markdown document. And we all know that front end web is an incredibly rich blend of nested syntaxes right now. Heck, people have been writing SQL in strings for centuries.

I know the multi

[2020-11-12 18:15] geoffp commented on #4
@vspinu, any thoughts?

[2020-11-12 20:59] Sleepful commented on #4
Disclaimer: I'm very ignorant about how these modes are implemented in elisp.

I have more questions than answers, but if there was an easy way to turn BNF grammars into modes, then maybe a polymode of sorts could be implemented, modes being able to leverage each other would be ideal like @geoffp mentions, but modes would probably have to be designed with the interoperability in mind. BNF grammars

[2020-11-12 21:31] shackra commented on #4
tell me if this is a bad idea or not but what about relaying on [emacs-tree-sitter](https://github.com/ubolonton/emacs-tree-sitter) and [tree-sitter-indent](https://codeberg.org/FelipeLema/tree-sitter-indent.el/)? The downside is that `24.3` won't be supported anymore since dynamic modules is a feature of Emacs 25.

[2020-11-12 21:48] Sleepful commented on #4
@shackra how mature is the project? On May you mentioned "waiting on it to be usable".

If a parser is built on top of emacs-tree-sitter, any idea on how difficult could it be to maintain upstream changes?

[2020-11-12 22:22] shackra commented on #4
I use emacs-tree-sitter highlight features every day and it is currently available on Melpa. For tree-sitter-indent, well, I don't use it because lack of support for some languages that I do use, my guess is that this package should register the indentation rules and leave tree-sitter-indent do the rest; that's way better than dealing with parsers and regexp.

no, okay, the parser already exists,

[2020-11-13 08:20] josteink commented on #4
If that really works as you say, that sounds surprisingly doable.

I'd give it a go right away, except as usual I completely lack the time for new development efforts.

If someone else does the job and produces a PR though, I'll be happy to review and test, and (save major disagreements among maintainers) get it merged.

[2020-11-13 17:49] geoffp commented on #4
So, I wonder -- would we want to do this by adding the [tree sitter minor mode](https://ubolonton.github.io/emacs-tree-sitter/tree-sitter-mode/) to the Typescript major mode, or try to get tree-sitter at the root of it, so that syntax highlighting and indentation are handled by its grammars?

Either way, I suppose the next step would be to use the AST to seek out chunks of embedded languages (CSS

[2020-11-13 19:45] shackra commented on #4
maybe I should summon @ubolonton

[2020-11-14 10:09] josteink commented on #4
To me it sounds more future proof to put it at the root of the mode, although it probably involves more effort/bigger changes.

If you can make it work though, that would be awesome.

Give it a shot and let us know how well it works? 🤠

[2020-11-20 08:01] josteink opened #142 "Consider migrating CI to something not Travis"
The free Travis-CI.org service is shutting down this year.

See here for more info: https://ropensci.org/technotes/2020/11/19/moving-away-travis/#a-change-of-management

We should migrate CI before it's actually dead. Any suggestions? Just use GitHub Actions? Or something else?

[2020-11-20 20:34] josteink commented on #142
If everyone agrees this is a good idea, I just migrated csharp-mode from Travis to GitHub Actions. Not impossible, but I did have a few hurdles on the way.

The template used can be found here: https://github.com/emacs-csharp/csharp-mode/blob/master/.github/workflows/build.yml

[2020-11-21 11:19] ubolonton commented on #4
That minor mode is a "foundational" mode, which provides an always-up-to-date syntax tree for other major/minor modes to build on, and nothing else. For example, syntax highlighting is handled separately by `tree-sitter-hl-mode`. I think the preferred approach would be for `typescript-mode` to conditionally enable `tree-sitter-mode`, then start adding `tree-sitter`-based functionalities. Eventuall

[2020-11-21 19:02] josteink commented on #142
I took the template as is and applied it to this repo.

Green, fast build is green and fast: https://github.com/emacs-typescript/typescript.el/actions/runs/376396890

[2020-11-21 19:03] josteink commented on #142
Soooo... Any objections to just disconnecting Travis and updating the badge?

[2020-11-21 21:03] josteink commented on #142
And Yeah. _There_ Travis reports in on my latest commit.

And it spent 39 minutes failing. I'm shutting it down 😂

[2020-11-21 23:04] josteink commented on #142
Done and done. Badge updated too. Good night 😅

[2020-11-21 23:04] #142 closed

[2020-11-27 16:38] thiagotps commented on #135
Same problem here. Class methods are not treated as **defuns.**

[2020-12-07 08:55] josteink commented on #135
Can reproduce this. Clearly a bug.

[2021-01-17 02:19] nahuel commented on #4
Just in case this is useful for somebody, my workaround (when possible) is to not use TSX but instead:

[code]

Now I find it better than JSX/TSX. Indenting and typing works like a charm.

[2021-01-17 03:32] zSucrilhos commented on #4
funny

[2021-03-12 14:42] hermann-p commented on #59
I have similar problems, using the `beginning-of-defun` and `end-of-defun` implicitly with `narrow-to-defun`.
Another place where beginning/end of defun completely fails is lambda functions `() => "I'm a a result"` or named lambda functions `const getTheAnswer = () => 42`.
I don't know enough emacs lisp to be of any help, though...

[2021-03-16 08:45] josteink commented on #59
In csharp-mode we are experimenting on a complete rewrite based on tree-sitter-mode, which gives us a real AST to work with.

The results there have been very promising.

If we were to fix all those small issues we have here, without creating some insane complexity in the lisp-code, I believe we may have to consider doing the same.

[2021-03-16 12:17] ananthakumaran commented on #59
@josteink from what I understand tree-sitter only supports highlighting? does it support other functions like mark-sexp, end-of-defun etc? which is more related to movement. I actually want to use tree-sitter for movement functionality, but can't find any reference or how to use it.

[2021-03-16 12:23] josteink commented on #59
Tree-sitter supports navigation based on AST knowledge.

Based on this it is fairly trivial to create move-to-beginning-of-defun functions.

See this issue in csharp-mode for an example: https://github.com/emacs-csharp/csharp-mode/issues/219

The discovery there though was that pretty much all of those functions can be generalised for all tree-sitter based major-modes see we decided we should try

[2021-03-16 12:34] ananthakumaran commented on #59
sweet, `tree-sitter-node-at-point` this is what I am looking for.

[2021-03-23 09:06] josteink commented on #59
So... We're rewriting `typescript-mode` to be `tree-sitter-mode` based too now? :grin:

If so, I would suggest taking a look at [`csharp-tree-sitter-mode`](https://github.com/emacs-csharp/csharp-mode/blob/master/csharp-tree-sitter.el) as a whole, and start from scratch based on something like that (sans grammar-portion), instead of incrementally trying to rewrite what we have.

[2021-03-29 21:08] ericpromislow opened #144 "Symbol’s value as variable is void: compilation-error-regexp-alist-alist"
I just copied the raw `typescript-mode.el` file into my emacs dir, loaded it from `.emacs` and hit this error:

`Symbol’s value as variable is void: compilation-error-regexp-alist-alist`

At https://github.com/emacs-typescript/typescript.el/blob/1043025d42602d560949955410d3afa2562130ee/typescript-mode.el#L2906

If I comment out that line, I get a similar error at the next line, complaining about `

[2021-03-30 09:54] josteink commented on #144
This should be handled by this line when doing a proper byte-compilation:

https://github.com/emacs-typescript/typescript.el/blob/1043025d42602d560949955410d3afa2562130ee/typescript-mode.el#L55

You can probably resolve this error (or similar ones) by running that command or code-block manually before evaluating the contents of this repo.

[2021-03-30 16:40] josteink commented on #144
It's part of Emacs-core really.

If you don't have it, surely there are other things breaking in your setup too?

[2021-04-02 05:44] tkil opened #145 "Indentation hangs in `typescript--backward-to-parameter-list` when previous function has unbalanced parens"
I haven't had a chance to isolate it, but I ran across a case where indentation would hang when trying to indent parameters in a function. It turns out that the function _before_ that one had unbalanced parentheses (one too many close parens). The behavior was that `typescript--backward-to-parameter-list` got stuck in one place and never made progress.

A quick fix would be at least to verify that

[2021-05-10 10:25] eguneys opened #146 "typescript-mode hangs if I enter a newline after a dot character."
Cursor is on the dot, I press newline, emacs hangs. This happens often to me I kill emacs and restart it. I come to this situation to break long lines at function calls at dot character.

      situation('8/8/8/8/8/8/8/R3K2R w - - 0 1')!.actors

      let [long, short] = ;

You need to try harder, play with `.` and newline break for example this hangs:

    laskjdf
      .jalksdf
      .aksdfl.

[2021-05-19 18:22] zombieleet opened #148 "File mode specification error: (void-function -compose)"
I am currently using typescript-mode with lsp, for the past few hours I have been struggling with fixing this error message

`File mode specification error: (void-function -compose)`

This is the backtrace after running `toggle-debug-on-error`

[code]

This is how my init file looks like

[code]

[2021-05-19 19:12] josteink commented on #148
From what I can tell the error here is with lsp-mode, and not typescript-mode, and it's probably better to file this issue over at their tracker.

Or am I missing something obvious? 🙂

[2021-05-19 22:24] zombieleet commented on #148
@josteink correct is from lsp-mode, but the reason I had to raise an issue here, is because it only happens when I am in typescript-mode

[2021-05-24 07:16] achempion commented on #4
I made `typescript-mode` support `tsx` syntax with a help from `tree-sitter` package, took one Sunday 😆

Here is my configuration

[code]

I use it with lsp integration

[2021-05-24 19:50] josteink commented on #4
@achempion That's great stuff!

If you could create a PR with that information included in the README (and possibly for plain users not using `use-package`, they are a thing) that would possibly close this issue once and for all after all these years :smiley:

[2021-05-24 19:52] achempion commented on #4
@josteink will send it soon

[2021-05-27 06:11] lynlevenick commented on #4
I ended up extending the above typescript-mode + emacs-tree-sitter configuration like so:

First, I defined a derived mode specifically for `.tsx` files (with no other changes)

[code]

then I tweaked my `tree-sitter` configuration to take advantage of the new mode:

[code]

which uses the `tsx` grammar to provide better syntax highlight for JSX, in particular this situation:

[code]

[2021-05-27 07:29] achempion commented on #4
Does my config above have this issue?

Following the tree-sitter documentation theirs idea is to have major modes integrate with it natively and the provided solution with tree-sitter-langs are quite temporary.

[2021-05-27 07:44] lynlevenick commented on #4
So far as I'm aware, yes: you configure `typescript-mode` for both `.ts` and `.tsx` files, but the latter has a grammar just for it in `tree-sitter-langs`. I had to do [some _extremely_ non-standard things](https://github.com/ubolonton/emacs-tree-sitter/issues/88#issuecomment-849338234) to get tree-sitter running at all, so I can't exactly say what you've done definitely has this issue 😅

[2021-05-27 11:44] psychehao opened #149 "typescript new keyword 'override' highlight"
need typescript new keyword 'override' highlight

[2021-05-27 11:56] psychehao commented on #149
(defconst typescript--keyword-re
  (typescript--regexp-opt-symbol
   '("abstract" "any" "as" "async" "await" "boolean" "bigint" "break" "case" "catch" "class" "const"
     "constructor" "continue" "declare" "default" "delete" "do" "else"
     "enum" "export" "extends" "extern" "false" "finally" "for"
     "function" "from" "get" "goto" "if" "implements" "import" "in" "instanceof"
     "interface"

[2021-05-28 06:29] josteink commented on #149
Sounds like you've almost got a PR landed for this ;)

[2021-05-29 07:33] achempion commented on #4
@lynlevenick I've tried your config and have this error

[code]

[2021-05-29 23:26] lynlevenick commented on #4
@achempion That's really strange! I can't help but say that it works for me 😅. I didn't include that I'm still using `tree-sitter-langs`, did you take that out? Maybe you could try to figure out what path it's trying to load, and why it's not finding it? This issue probably isn't the best place to work through it though.

[2021-07-03 23:37] josemiguelo commented on #4
@lynlevenick's config didn't work for me. This is a slightly different setup that worked for me:

[code]

[2021-07-16 20:08] SalTor commented on #4
Thanks @josemiguelo this resolved some frustrations I had doing TSX work. I'm glad to see development of treesitter in emacs which I had gotten used to in my vim setup

[2021-08-11 11:13] joaotavora opened #150 "M-j in /** foo */ comment blocks is broken. Reasonbly easy to fix"
To reproduce:
[code]

In `something.ts`, this exists:

[code]

Pressing `M-j` begets:

[code]

In #41 (sorry, not #42) , a reasonable suggestion is to rebind `M-j` to `c-indent-new-comment-line`, but that requires this patch to `typescript.el`:

[code]

[2021-08-27 08:33] phikal opened #151 "Bump Version Tag"
Hi,

I wanted to add typescript-mode to [NonGNU ELPA](https://elpa.nongnu.org), but it seems that `typescript-mode.el` has not bumped it's version tag despite two subsequent releases since 0.1 (this is relevant because ELPA uses the commit that bumps the version to mark releases). Would it be possible to update this, and if you are interested in having typescript-mode on NonGNU ELPA maintaining it

[2021-08-30 18:21] josteink commented on #151
I just pushed the v0.4 tag right now.

Hopefully that should make things slightly more up to date :)

[2021-08-30 18:32] phikal commented on #151
The only thing missing now for NonGNU ELPA is updating the version attribute in the [package header](https://github.com/emacs-typescript/typescript.el/blob/master/typescript-mode.el#L23). It shouldn't matter that the v0.4 tag doesn't point to the bump-commit.

[2021-08-30 18:58] josteink commented on #151
Done!

[2021-08-30 19:03] phikal commented on #151
Great, I'll add the package then in the next batch, then update this thread in case you want to update your documentation and add an ELPA badge.

[2021-09-05 18:43] yaitskov commented on #148
@zombieleet have you solved the issue?

[2021-09-27 14:51] cmatzenbach commented on #4
@lynlevenick This worked BEAUTIFULLY for me.  I'm honestly shocked, your setup creates a perfect tsx editing experience, easily on par with vscode's.  All I had to do was add one line to reduce indentation from 4 spaces to 2.  I can't believe how well it worked.  Thank you so much for posting, even spacemacs doesn't have anything half as good as what you put together (spacemacs user for the past t

[2021-09-28 06:57] josteink commented on #4
Thanks for the suggested solution @josemiguelo!

That does IMO look simple and clean enough to be included mainline, since we are outsourcing all the "hard" work to tree-sitter.

[I've therefore created a PR where I attempt to mainline your solution](https://github.com/emacs-typescript/typescript.el/pull/155). Feedback welcome!

[2021-09-28 19:44] xevrem commented on #4
can confirm that with some slight modification to @josemiguelo 's post, it can also works with an `eglot` config :D

(note that i use `straight.el`, with always ensure enabled w/ use-package )

[code]

[2021-10-02 22:58] angrybacon commented on #4
The configurations shared above don't seem to take care of indenting in my case, is that to be expected? I see `tree-sitter-indent` exists but isn't being configured above.

First screencast shows indenting the whole buffer in `typescript-mode`, the second in `typescript-tsx-mode`.

https://user-images.githubusercontent.com/5608624/135733725-ca6131d0-55e9-4725-bcfb-6f6c0c35b953.mov

https://user-i

[2021-10-22 10:51] #149 closed, assigned to nobody

[2021-10-31 04:53] greg-minshall opened #158 "const, let formatting with multiple lines"
i tried this with `emacs -Q -L ./typescript.el`.

[code]

this is true for `let` also.

in a `.js` buffer, with `js2-mode`, i get what i would have expected:

[code]

i'm running
[code]
and i appear to be running
[code]

[2021-11-29 04:18] zzantares commented on #150
Until this gets fixed, here's another workaround which doesn't require patching the library:

[code]

it's not pretty though ...

[2021-11-30 13:35] josteink commented on #150
Should be fixed in current master now :)

[2022-02-06 19:57] theothornhill commented on #151
Hi!

It seems `typescript-mode` never was added to nongnu elpa, is that so?
What is missing to include it?

[2022-02-06 21:41] phikal commented on #151
Nothing, I had just lost track of it. Sorry for the long delay, I have added it now: http://elpa.nongnu.org/nongnu/typescript-mode.html (as of writing the page is broken, but this will change as soon as the cron job updates the archive).

[2022-02-06 21:41] #151 closed

[2022-04-20 11:42] josteink commented on #48
I think the only realistic way this is getting solved is if somebody is willing to do what @theothornhill did for `csharp-mode`: start a "from scratch" [rewrite based on the tree-sitter package and library](https://github.com/emacs-csharp/csharp-mode/blob/master/csharp-tree-sitter.el).

IMO that rewrite worked out really well. So well in fact I tried to do the same for `typescript-mode`, but I qui

[2022-04-20 11:57] theothornhill commented on #48
Hi! I'm actually looking to do this, since I'm a little bothered by the indentation troubles with typescript. In particular inside jsx. I've been holding off a little because I was waiting for the native implementation by Yuan Fu to land in emacs proper. I could do the same for typescript mode if you want, but I'm a little unsure if it is best to wait for emacs proper. I saw you added me to this r

[2022-04-20 12:00] theothornhill commented on #48
@josteink how about I take over your branch and turn the pr into a working draft for now? Then we'll see how far I get :)

[2022-04-20 12:39] josteink commented on #48
Of all bad luck, I think I only had that as a local branch... On a laptop I had Ubuntu on, but literally yesterday reformatted and installed Debian on instead. Ooops :grin:

[2022-04-20 12:42] theothornhill commented on #48
No I found it. No problem! I've started the work. Some indentation is working already, so I think this will be quick. How about we cooperate on this? I'll push what I have and we can just use it and extend it? Right now all you need to do is to `C-M-x` the `tree-sitter-indent-typescript-tree-sitter-scopes` inside of `typescript-tree-sitter.el` and revert the buffer, and the new indentation can be

[2022-04-20 12:44] theothornhill commented on #48
pushed

[2022-04-20 12:48] lddubeau commented on #48
I've opened this bug report but I'm fine with anybody taking it over. I've
had a slew of life changing events in my life that make it so that I'm
probably not going to return to making changes to this mode. I haven't done
substantial software work in about 2 years, and I'm now focussing on other
things, like writing, producing videos, and counseling people with life
changing diseases or LGBTQ+ iss

[2022-04-20 12:55] theothornhill commented on #48
Good luck on your endeavours - the code'll be here should you decide to return :)

[2022-04-20 13:51] josteink commented on #48
Sounds good @theothornhill!

And best of luck to you @lddubeau !

[2022-04-20 14:51] mattchrist commented on #48
It may be possible to leverage the [semantic tokens feature from the language server](https://github.com/typescript-language-server/typescript-language-server/pull/290) to accomplish this as well. It seems supported by [lsp-mode](https://github.com/emacs-lsp/lsp-mode/blob/a3c1f184343deea29ea8e0706a9ce2a47e78b120/lsp-semantic-tokens.el).

[2022-04-20 15:04] theothornhill commented on #48
I'd advise against that. Imo it is not wise to offload more things to json. Also only lspmode supports that and not all servers do. Lastly, one can always enable it on top of tree sitter.

Just my 2 cents :)

[2022-04-22 13:22] josteink commented on #48
Like theo has already said in the related PR, it doesn't even indent yet... But for those looking for template-strings and similar stuff...

![image](https://user-images.githubusercontent.com/411338/164722561-5d1a2367-f2a0-41fe-ae10-4b1712728deb.png)

Not bad for a 1 day job, eh? :smile:

[2022-04-22 13:43] theothornhill commented on #48
We do indeed indent now :)  and also support the new emacs proper

[2022-04-22 13:44] theothornhill commented on #48
(though not finished yet) :)

[2022-05-06 07:48] UwUnyaa opened #164 "Missing debugger keyword"
I've just looked at the source of this mode, since the lack of highlighting for `debugger` has been bugging me every time I wrote it to add a breakpoint. It seems like the issue is down to not having the keyword listed.

For context, the `debugger` keyword is reserved, and here's the relevant section in the ECMA-262 spec: https://262.ecma-international.org/12.0/#sec-keywords-and-reserved-words

[2022-05-06 08:27] #164 closed

[2022-05-06 08:27] josteink commented on #164
Thanks for the feedback. Fixed now :)

[2022-06-23 00:06] robgssp opened #166 "Freeze on indenting dot after comma"
I hit this while reformatting. Minimal repro:

[code]

Reindenting the second line in typescript-mode freezes emacs.

Emacs 28.1, typescript-mode 20220617.1901

[2022-06-24 08:17] josteink commented on #166
Hey there and thanks for the report!

The good news is that I can confirm your easy repro case freezes my Emacs too (until I press CTRL-G). The bad news is typescript.el is kinda "legacy" at this point.

Going forward we're going to be using [tree-sitter](https://tree-sitter.github.io/tree-sitter/) based-parsing instead of Elisp-based parsing, which is very complicated and involved for grammars li

[2022-07-06 16:57] ndrewtl opened #169 "`typescript-mode` is failing to download"
`M-x package-install RET typescript-mode`
[code]

[2022-07-06 17:32] josteink commented on #169
That sounds like a MELPA-issue more than a typescript-mode issue. I can edit the readme to trigger a new build though and see if that helps? ;)

[2022-07-06 17:53] josteink commented on #169
It's probably an issue with the MELPA buid upstream.

I've made some changes to this repo, hoping that will trigger a rebuild on MELPA's end. That can take anywhere from 5 minutes to 24 hours though.

[2022-07-06 17:57] ndrewtl commented on #169
Thanks! And for those who like me, are emacs newbies and are looking for a workaround, I fixed the problem by manually installing typescript-mode. I did the following:

1. Download `typescript-mode` from https://melpa.org/#/typescript-mode
2. You should now have a tarball file. For me, it was called `~/Downloads/typescript-mode-20220705.2151.tar`
3. Open emacs, and run `M-x package-install-file <R

[2022-07-08 20:35] Fuco1 commented on #112
I'm working on some of these in #170

[2022-07-09 13:27] Fuco1 commented on #103
This is a very simple fix.  Since the functions are fontified after keywords (which are level 2) all that is needed is to allow font-lock to overwrite the existing fontification.  I'll make a PR in a couple minutes.

[2022-07-27 08:38] vbraun commented on #48
Possibly related corner case: Non-backtick quote chars (i.e. `'` and `"`) inside template strings apparently make the syntax highlighting think that a string starts there:
![Screenshot from 2022-07-27 10-36-34](https://user-images.githubusercontent.com/888729/181201931-4f0e5992-7e1e-446f-9707-76ca565b56a7.png)

[2022-07-30 10:22] josteink commented on #48
This is not a problem in the new `tree-sitter` based mode (tested with native emacs tree-sitter support from the emacs feature/tree-sitter branch):

![image](https://user-images.githubusercontent.com/411338/181906111-4884814c-d363-4650-ac82-2387777c36ae.png)

[2022-07-30 10:31] #103 closed

[2022-07-30 15:25] redblobgames commented on #158
Happens to me too (for a long time), so now I write

[code]

😅

[2022-08-04 21:47] dchrzanowski opened #174 "Incorrect highlighting of keywords on latest commit"
Keywords such as `if` or `for` are highlighted as functions when standalone or  in comments.

Test the following:
[code]

For me the word `object` is highlighted as a function when in a comment.

Possibly caused by #172

[2022-08-05 06:19] josteink commented on #174
Cc: @Fuco1

[2022-08-05 14:42] Fuco1 commented on #174
Will fix tonight

[2022-08-05 20:02] Fuco1 commented on #174
Thanks for the report @dchrzanowski, I've pushed a PR so it will be fixed after that is merged and released on melpa (or wherever you install from :))

[2022-08-05 20:08] #174 closed

[2022-08-05 20:10] josteink commented on #174
Should be merged now, but MELPA isn’t instant, so give it at least 24h.

[2022-08-05 20:15] Fuco1 commented on #48
I've implemented a matcher for the `${}` expression inside backticks

[code]

somewhere in the keywords add

[code]

I will add tests and make a PR these days but I'm traveling ATM.  Feel free to try this out though :)

[2022-08-05 20:21] dchrzanowski commented on #174
No problem at all. Thanks for your help guys!

[2022-08-08 12:13] Fuco1 commented on #112
I think this is mostly fixed with #170 (and other couple PRs) merged.  I would suggest closing this generic issue and we can later open new ones for specific instances of new issues.  @josteink WDYT?

[2022-08-08 13:34] josteink commented on #112
Sure. Will close.

[2022-08-08 13:34] #112 closed

[2022-10-11 09:58] theothornhill opened #178 "Adding mechanisms in place not to collide with in-tree typescript-mode"
Hi!

This is just an issue to make sure that we put in place some mechanisms to not collide when `typescript-mode` lands in core.

Maybe deprecation or some other guards is how best to do it?

@josteink You had some ideas here :)

[2022-10-11 10:01] josteink commented on #178
I have some ideas which should be testable, sure.

I'm thinking about both compile-time and runtime-guards, depending on what is needed where.

[2022-10-11 10:05] theothornhill commented on #178
Great. You mean something like `eval-and-compile and friends` shenanigans? I'll try to think about something, and also @monnier likely knows a great deal that could help us.

[2022-10-15 09:16] theothornhill commented on #178
Seeing as `ts-mode` now is in the `feature/tree-sitter` branch, maybe we should just add an obsoletion warning for this mode sooner rather than later? I'm not completely sure where to put this warning, to be intrusive enough, but not chatting every time you open a typescript file. Maybe just create its own form similar to
[code]
What do you think?

I can create such a pr if you want :)

[2022-10-15 13:37] monnier commented on #178
I'm obviously very much in favor.  But I'll point out that the main
worry is to see people starting to work *on* this (instead of the new
`ts-mode`) rather than to scare away users (who currently don't have
much elsewhere to go to).

So I'd start by a big and loud banner comment in the code (together with
a similar message in the README.md), rather than emitting a warning.

[2022-10-15 14:36] theothornhill commented on #178
That makes sense -  I'll do that!

[2022-10-15 19:57] josteink commented on #178
I think both are in place really.

Most typescript-mode users wont visit this repo unless they have a specific issue to file. As such we should place a warning both in this repo *and* to active users of typescript-mode, at least if they are on a version of emacs supporting ts-mode instead.

I suspect having such warning upon compilation won't work, because it is more or less guaranteed to drown in